{% extends 'dll/default_page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load breadcrumb_tags %}

{% block breadcrumbs %}
  {% simple_breadcrumb 'Account Aktivierung' as breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-9">
      <h1>Aktivierung gescheitert</h1>
      <p>
        Es gibt einen Problem mit dem Aktivierungslink, bitte versuchen Sie es nochmal oder <a href="{% url 'communication:contact' %}">kontaktieren</a> Sie uns.
      </p>

    </div>
  </div>
{% endblock %}