{% extends 'dll/default_page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load breadcrumb_tags %}

{% block breadcrumbs %}
  {% simple_breadcrumb 'Login' as breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-8">
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="button button--primary mr-2" type="submit">Absenden</button>
        <a class="button button--submit" href="{% url 'user:password_reset' %}">Zurücksetzen</a>
      </form>
      Wenn Sie noch nicht als Benutzer_in registriert sind, können Sie sich <a href="{% url 'user:signup' %}">hier</a> registrieren.
    </div>
  </div>
{% endblock %}