{% extends 'dll/default_page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load breadcrumb_tags %}
{% load static %}

{% block breadcrumbs %}
  {% simple_breadcrumb 'Login' as breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-lg-6">
      <h1>Login</h1>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{{ next }}">
        <button class="button button--primary mr-2" type="submit">Einloggen</button>
        <a class="button button--submit" href="{% url 'user:signup' %}">Registrieren</a>
      </form>
      <a href="{% url 'user:password_reset' %}">Passwort vergessen?</a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 offset-lg-1">
        <img src="{% static 'img/content/dll_dlt_login.svg' %}" alt="">
        <p class="ml-md-5 h5 font-weight-light">
            Loggen Sie sich einmalig ein, <br>
            um beide Portale zu nutzen.
        </p>
    </div>
  </div>
{% endblock %}