{% extends 'dll/default_page.html' %}
{% load crispy_forms_tags %}
{% load breadcrumb_tags %}

{% block breadcrumbs %}
  {% simple_breadcrumb 'Passwort-Zurücksetzen E-Mail versendet' as breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <h1>
    Link zum Passwort-Zurücksetzen wurde erfolgreich an Ihre E-Mail Adresse verschickt.
  </h1>
  <p>
    In dieser E-Mail ist ein Link, den Sie anklicken müssen, um ein neues Passwort zu vergeben.
    Sollten Sie innerhalb der nächsten Minuten keine E-Mail erhalten, so überprüfen Sie bitte,
    ob die E-Mail von uns als Spam eingestuft wurde und in Ihrem Spam-Ordner gelandet ist.
  </p>
{% endblock%}

