{% extends 'dll/default_page.html' %}
{% load crispy_forms_tags %}
{% load breadcrumb_tags %}

{% block breadcrumbs %}
  {% simple_breadcrumb 'Passwort zurücksetzen' as breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <h1>
    Passwort zurücksetzen
  </h1>
  Sie haben Ihr Passwort vergessen? Bitte geben Sie Ihre E-Mail-Adresse an, damit wir Ihnen eine E-Mail zum Zurücksetzen des Passworts schicken können.
  <form method="post" class="mt-3">
    {% csrf_token %}
    <div class="row">
      <div class="col-12 col-md-4">
        {{ form|crispy }}
      </div>
    </div>
    <button type="submit" class="button button--primary">Passwort zurücksetzen</button>
    <p>
      Falls Sie Probleme haben Ihr Passwort zurück zu setzen <a href="{% url 'communication:contact' %}">kontaktieren</a> sie uns.
    </p>
</form>
{% endblock%}

