{% extends 'dll/default_page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load breadcrumb_tags %}

{% block breadcrumbs %}
  {% simple_breadcrumb 'Registrierung' as breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-8">
      <h1>Registrierung</h1>
      <form method="post">
        {% crispy form %}
        <button class="button button--primary" type="submit">Absenden</button>
      </form>
    </div>
  </div>
{% endblock %}