{% extends 'dll/default_page.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load breadcrumb_tags %}

{% block breadcrumbs %}
  {% simple_breadcrumb 'Registrierung' as breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-9">
      <h1>Registrierung</h1>
      <p class="alert alert-info" role="alert">
      Wir bedauern sehr, dass die Registrierung für das Einreichen von Inhalten aufgrund technischer Probleme derzeit nur eingeschränkt möglich ist! 
      Wir arbeiten mit Hochdruck daran, diese zu beseitigen. Hinterlassen Sie uns Ihre <a href="mailto:digital.learning.lab@tuhh.de?subject=Benachrichtigung">E-Mail-Adresse</a> und wir informieren Sie umgehend, sobald die Registrierung wieder freigeschaltet ist. 
      Vielen Dank für Ihr Verständnis!
      </p>
      <form method="post">
        {% crispy form %}
      </form>
    </div>
  </div>
{% endblock %}