Django>=2.0,<3.0
psycopg2>=2.7,<3.0
django-meta==1.5.2
django-webpack-loader>=0.6.0
django-extensions==2.2.1
django-filer==1.5.0
django-polymorphic==2.0.3
blessings==1.7
curtsies==0.3.0
bpython==0.17.1
django-taggit==1.1.0
xlrd==1.2.0  # pandas extension
dateparser==0.7.1
environs==5.2.0
uwsgi==2.0.18
easy-thumbnails==2.6.0
django-ckeditor==5.7.1
django-crispy-forms==1.9.2
django-import-export~=2.3.0
djangorestframework==3.10.2
django-filter==2.4.0
sentry-sdk==0.13.2
django-rest-polymorphic
XlsxWriter==1.2.8
rules<3
celery>=4.4.5,<5
redis<4
pysolr<4
django-haystack<3
django-select2<8
django-better-admin-arrayfield<2
django-storages~=1.9.1
boto3~=1.12.47
pytest==6.0.1
coverage~=5.2.1
pytest-django~=3.8.0
django-simple-history~=2.11.0
django-constance[database]~=2.7.0
wagtail~=2.11.2
