<h2>Hinweise</h2>

{% if object.additional_info %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Hintergrund
    </div>
    <div class="information-area__body">
      {{ object.additional_info|linebreaksbr }}
    </div>
  </div>
{% endif %}


{% if object.central_contents %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Zentrale Inhalte
    </div>
    <div class="information-area__body">
      {{ object.central_contents|linebreaksbr }}
    </div>
  </div>
{% endif %}


{% if object.citation_info %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Zitierhinweis
    </div>
    <div class="information-area__body">
      {{ object.citation_info|linebreaksbr }}
    </div>
  </div>
{% endif %}

{% if object.has_tutorial_links %}
<div class="information-area information-area--{{ object.type }}">
  <div class="information-area__title information-area__title">
    Anlagen / Weiterführende Links
  </div>
  <div class="information-area__body">
    <ul class="list-unstyled">
      {% for link in object.content_links.all %}
        <li><a target="_blank" href="{{ link.url }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
