<h2>Überblick</h2>


{% if object.learning_goals.0 %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Zielsetzung
    </div>
    <div class="information-area__body">
      {% for goal in object.learning_goals %}
        {{ goal }}
      {% endfor %}
    </div>
  </div>
{% endif %}


{% if object.central_contents %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Zentrale Inhalte
    </div>
    <div class="information-area__body">
      {{ object.central_contents|linebreaksbr }}
    </div>
  </div>
{% endif %}

<div class="information-area information-area--{{ object.type }}">
  <div class="information-area__title information-area__title">
    Kompetenzen in der Digitalen Welt
  </div>
  <div class="information-area__body">
    <ul class="list-unstyled">
      {% for competence in object.competences.all %}
        <li>{{ competence.name }}</li>
      {% endfor %}
    </ul>
    {% for competence in competences %}
      <span class="information-area__icon icon-{{ competence.slug }}{% if competence in object.competences.all %} information-area__icon--active{% endif %}" data-toggle="tooltip" title="{{ competence.name }}"></span>
    {% endfor %}
  </div>
</div>
