@import "headings";

html, body {
  min-height: 100vh;
  position: relative;
}
body {
  background-color: $color--fog;
  font-family: $font-body;
  overflow-x: hidden;
  padding-top: 80px;
  padding-bottom: 600px;
}
a {
  text-decoration: none;
  color: $color--smalt-blue;
  font-weight: $font-weight-semi-bold;
  &:hover {
    color: $color--daintree;
    text-decoration: none;
  }
}
p {
  font-weight: $font-weight-light;
}
ul {
  font-weight: $font-weight-regular;
}
label {
  font-weight: $font-weight-bold;
  cursor: pointer;
}
hr {
  border: 1px dashed gray;
}

@media (min-width: 992px) {
  body {
    padding-bottom: 350px;
  }
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}
// Default Django error list class
.errorlist {
  padding-left: 15px;
}