.button {
  display: inline-block;
  line-height: 1.7;
  padding: 0.5rem 2rem;
  color: rgba(255, 255, 255, 1);
  margin: 1rem 0;
  border: 0;
  font-weight: $font-weight-semi-bold;
}
.button--primary {
  background-color: $color--oracle;
  &:hover {
    background-color: $color--smalt-blue;
  }
}
.button--preview {
  background-color: $color--preview;
  &:hover {
    background-color: $color--preview;
  }
}
.button--submit {
  background-color: $color--submit;
  &:hover {
    background-color: $color--submit;
  }
}
.button--teaching-module,
.button--teaching-module:visited {
  color: rgba(255, 255, 255, 1);
  font-weight: $font-weight-light;
  background-color: $color--teaching-module;
  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: $color--teaching-module;
    text-decoration: underline;
  }
}
.button--trend,
.button--trend:visited {
  color: rgba(255, 255, 255, 1);
  font-weight: $font-weight-light;
  background-color: $color--trend;
  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: $color--trend;
    text-decoration: underline;
  }
}
.button--tool,
.button--tool:visited {
  color: rgba(255, 255, 255, 1);
  font-weight: $font-weight-light;
  background-color: $color--tool;
  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: $color--tool;
    text-decoration: underline;
  }
}
.button--neutral,
.button--neutral:visited {
  color: rgba(255, 255, 255, 1);
  font-weight: $font-weight-light;
  background-color: $color--pale;
  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: $color--pale;
    text-decoration: none;
  }
}
.button--danger,
.button--danger:visited {
  color: rgba(255, 255, 255, 1);
  background-color: $color--punch;
  &:hover {
    color: rgba(255, 255, 255, 1);
    background-color: $color--punch;
    text-decoration: none;
  }
}
.button--smallSquare {
  height: 40px;
  width: 40px;
  min-width: 40px;
  line-height: 40px;
  text-align: center;
}