.content-teaser {

}
.content-teaser__type {
  font-size: 13px;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
}
.content-teaser__title {
  font-weight: $font-weight-light;
  font-size: 23px;
  height: 110px;
}
.content-teaser__abstract {
  height: 80px;
  font-style: italic;
}
.content-teaser__competences {}