.content-image {
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 100%;
  img {
    max-width: 100%;
  }
}
@media (min-width: 1400px) {
  .content-image {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}