.content-teaser {
  display: flex;
  border: 2px solid;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  overflow: hidden;
  position: relative;
}
.content-teaser--teaching-module {
  border-color: $color--teaching-module;
  .content-teaser__body:hover {
    background-color: $color--teaching-module;
  }
  .content-teaser__type {
    color: $color--teaching-module;
  }
}
.content-teaser--trend {
  border-color: $color--trend;
  .content-teaser__body:hover {
    background-color: $color--trend;
  }
  .content-teaser__type {
    color: $color--trend;
  }
}
.content-teaser--tool {
  border-color: $color--tool;
  .content-teaser__body:hover {
    background-color: $color--tool;
  }
  .content-teaser__type {
    color: $color--tool;
  }
}
.content-teaser__image-container {
  display: inline-block;
  flex: 0 0 32%;
  max-width: 32%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
}
.content-teaser__image {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}
.content-teaser__body {
  display: inline-block;
  padding: 10px 1rem 58px 1rem;
  flex: 0 0 68%;
  max-width: 68%;
  vertical-align: top;
  &:hover {
    color: rgba(255, 255, 255, 1);
    .content-teaser__type {
      color: rgba(255, 255, 255, 1);
    }
    .content-teaser__favor .favor-icon {
      color: rgba(255, 255, 255, 1);
    }
  }
}
.content-teaser__type {
  font-size: 13px;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  float: left;
}
.content-teaser__favor {
  float: right;
}
.content-teaser__title {
  font-weight: $font-weight-light;
  font-size: 23px;
  min-height: 110px;
  text-align: left;
}
.content-teaser__abstract {
  min-height: 80px;
  font-style: italic;
  font-weight: $font-weight-light;
}
.content-teaser__footer {
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
}
.content-teaser__competences {
  font-size: 2rem;
  vertical-align: middle;
}
.content-teaser__competence {
  margin-right: 5px;
}
.icon-upload {
  font-size: 1.5rem;
}
.content-teaser__upload-date-container {
  border-left: 2px solid $color--teaching-module;
  padding-left: 15px;
  margin-left: 15px;
  vertical-align: middle;
}