.favor-icon {
  pointer-events: none;
  font-size: 19px;
  float: left;
  margin-top: 1px;
  margin-left: -5px;
  margin-right: 15px;
  & + span {
    pointer-events: none;
  }
}
.favor-icon--active {
  color: rgba(192, 46, 21, 1)
}
.favor-icon--inactive {
  color: rgba(201, 209, 222, 1)
}