.footer {
  line-height: 1.3em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer__link {
  font-size: 14px;
  font-weight: $font-weight-light;
  text-transform: uppercase;
}
.footer__cc-link {
  font-size: 14px;
  font-weight: $font-weight-light;
}
.footer__partner-logo {
  height: auto;
  max-height: 40px;
  max-width: 100%;
}
@media(min-width: 768px) {
  .footer__partner-logo {
    margin-right: 15px;
  }
}