.footer {
  line-height: 1.3em;
  position: absolute;
  left: 0;
  width: 100%;
}
.footer__text{
  font-size: 14px;
}
.footer__link {
  font-size: 14px;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  padding: 10px;
  display: block;
  &-newsletter {
    text-transform: none;
  }
}
.footer__cc-link {
  font-weight: $font-weight-light;
}
.footer__partner-logo {
  height: auto;
  max-height: 60px;
  max-width: 100%;
}
@media (min-width: 576px) {
  .footer__link {
    display: inline-block;
    padding: 0 5px 10px;
  }
}
@media(min-width: 768px) {
  .footer {
    padding-bottom: 0;
  }
  .footer__partner-logo {
    margin-right: 15px;
  }
}