.form-check-inline {
  margin-right: 20px;
}
.form-subhead {
  font-weight: $font-weight-light;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 16px;
}
.form-check-label {
  font-weight: $font-weight-regular;
}
.custom-file-label {
  width: calc(100% - 45px);
}
.form-comment {
  margin-top: 10px;
  color: $color--daintree;
  font-weight: $font-weight-semi-bold;
}
.form__field--error {
  border: 1px solid $color--punch;
}
.form__list-input {
  max-width: calc(100% - 57px);
}