
$info-box__border-color: $color--daintree;
$info-box__head__background-color: $color--daintree;
$info-box__head__color: rgba(255, 255, 255, 1);
$info-box__left-spacing: 1.5rem;

.info-box {
  border: 1px solid #00232d;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
  position: relative;
  padding-bottom: 2rem;
}
.info-box__head {
  color: $info-box__head__color;
  background-color: $info-box__head__background-color;
  font-weight: $font-weight-semi-bold;
  padding: 0.5rem 0;
  text-align: center;
}
.info-box__subhead{
  font-weight: $font-weight-semi-bold;
  padding: 1.25rem $info-box__left-spacing;
  text-align: left;
}
.info-box__image-container {
  display: none;
  height: 140px;
  overflow: hidden;
}
.info-box__image {
  width: 100%;
}
.info-box__body {
  font-weight: $font-weight-light;
  line-height: 1.3rem;
  hyphens: auto;
  padding: 1.25rem $info-box__left-spacing;
  margin-bottom: 1rem;
  text-align: left;
}
.info-box__link {
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  vertical-align: middle;
  left: $info-box__left-spacing;
  &:after {
    font-family: "Font Awesome 5 Free";
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 0.8rem;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 600!important;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
  }
}
.info-box__link--inline {
  position: relative;
  display: inline;
  bottom: auto;
  left: auto;
}
@media (min-width: 992px) {
  .info-box__image-container {
    display: block;
  }
}