.list {

}
.list--dll {
  li {
    margin-top: 5px;
    font-weight: $font-weight-semi-bold;
  }
  .list--dll {
    padding-left: 30px;
    margin-bottom: 10px;
    li {
      font-weight: $font-weight-regular;
    }
  }
}