.logo {
  margin-top: 8px;
  margin-left: 2rem;
  display: inline-block;
}
.logo__claim {
  display: none;
}
@media (min-width: 768px) {
  .logo {
    margin-top: 18px;
  }
  .logo__no-claim {
    display: none;

  }
  .logo__claim {
    display: block;
  }
}
