@import "~bootstrap/scss/bootstrap";
@import "vue-select/src/scss/vue-select.scss";
@import '~vue2-dropzone/dist/vue2Dropzone.min';


@import 'variables';
@import 'typography';

@import 'alert';
@import 'basics';
@import 'breadcrumb';
@import 'button';
@import 'content-box';
@import 'content-image';
@import 'content-info';
@import 'content-teaser';
@import 'dropzone';
@import 'file-list';
@import 'footer';
@import 'form';
@import 'header';
@import 'information-area';
@import 'info-box';
@import 'link';
@import 'list';
@import 'logo';
@import 'navigation';
@import 'news-alert';
@import 'pagination';
@import 'partner-logo';
@import 'read-more-link';
@import 'search';
@import 'section-competence';
@import 'section-info';
@import 'sidebar';
@import 'tabs';
@import 'news-box';
