$background-color__news-alert: $color--whiskey;

.news-alert {
  background-color: $background-color__news-alert;
  color: rgba(255, 255, 255, 1);
  padding: 1.25rem 3rem;
  text-align: center;
}
.news-alert__headline {
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
  letter-spacing: 0.02rem;
}
.news-alert__body {
  font-size: 16px;
  font-weight: $font-weight-semi-bold;
  letter-spacing: 0.02rem;
  line-height: 1.3em;
}