$input-border-color: rgba(238, 238, 238, 1);

.search-form {
    display: none;
}
.search-form__submit {
    display: inline-block;
    margin: 0;
    padding: 0.5rem 0.8rem;
    color: #00232d;
    background-color: rgba(255, 255, 255, 1);
    height: 46px;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-color: $input-border-color;
    border-bottom-right-radius: 0;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    border-left-color: $input-border-color;
    border-left-style: inset;
    border-left-width: 2px;
    border-right-color: $input-border-color;
    border-right-style: inset;
    border-right-width: 0;
    border-top-color: $input-border-color;
    border-top-right-radius: 0;
    border-top-style: inset;
    border-top-width: 2px;
    vertical-align: top;
}
.search-form__field {
    border-left: 0;
    border-bottom-color: $input-border-color;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    border-right-color: $input-border-color;
    border-right-style: inset;
    border-right-width: 2px;
    border-left-color: $input-border-color;
    border-left-style: inset;
    border-top-color: $input-border-color;
    border-top-style: inset;
    border-top-width: 2px;
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
    display: inline-block;
    font-size: 100%;
    line-height: 1.15;
    padding: 12px 0;
    margin-left: -1px;
    vertical-align: top;
}
@media (min-width: 576px) {
    .search-form {
        margin-top: 27px;
        display: inline-block;
    }
}