.search-form {
    margin-top: 27px;
    display: none;
}
.search-form__submit {
    display: inline-block;
    margin: 0;
    padding: 0.5rem 0.8rem;
    color: #00232d;
    background-color: rgba(255, 255, 255, 1);
    border: 2px;
    height: 46px;
    border-right: 0;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}
.search-form__field {
    border-left: 0;
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
    display: inline-block;
    font-size: 100%;
    line-height: 1.15;
    padding: 12px 0;
    margin-left: -1px;
    vertical-align: middle;
    margin-top: -1px;
}
@media (min-width: 576px) {
    .search-form {
        display: inline-block;
    }
}