$input-border-color: rgba(238, 238, 238, 1);

.search-form {
    display: none;
    position: relative;
}
.search-form__submit {
    display: inline-block;
    margin: 0;
    padding: 0.5rem 0.8rem;
    color: #00232d;
    background-color: rgba(255, 255, 255, 1);
    height: 46px;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-color: $input-border-color;
    border-bottom-right-radius: 0;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    border-left-color: $input-border-color;
    border-left-style: inset;
    border-left-width: 2px;
    border-right-color: $input-border-color;
    border-right-style: inset;
    border-right-width: 0;
    border-top-color: $input-border-color;
    border-top-right-radius: 0;
    border-top-style: inset;
    border-top-width: 2px;
    vertical-align: top;
}
.search-form__field {
    border-left: 0;
    border-bottom-color: $input-border-color;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    border-right-color: $input-border-color;
    border-right-style: inset;
    border-right-width: 2px;
    border-left-color: $input-border-color;
    border-left-style: inset;
    border-top-color: $input-border-color;
    border-top-style: inset;
    border-top-width: 2px;
    border-top-right-radius: 7%;
    border-bottom-right-radius: 7%;
    display: inline-block;
    font-size: 100%;
    line-height: 1.15;
    padding: 12px 0;
    margin-left: -1px;
    vertical-align: top;
}
.algolia-autocomplete .aa-hint {
    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
    margin-left: -40px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}
.aa-suggestion {
    border-bottom: 1px solid $color--daintree;
    &:last-child {
        border-bottom: 0;
    };
    p {
        margin-bottom: 0;
    }
}
@media (min-width: 576px) {
    .search-form {
        margin-top: 27px;
        display: inline-block;
    }
}