.section-competence {
  background-image: url('https://data.digitallearninglab.de/index.php/apps/sharingpath/dll/DLL/files/images/dll_static_img_content_background.png'), linear-gradient(#fff, $color--fog);
  background-size: cover;
  background-position: center center;
  padding-top: 80px;
  padding-bottom: 50px;
}
.section-competence__flower {
  max-width: 100%;
  height: 315px;
}
@media (min-width: 768px) {
  .section-competence__flower {
    height: 500px;
  }
}
@media (min-width: 992px) {
  .section-competence__flower {
    height: 600px;
  }
}