.section-info {
  padding: 1.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 1);
}
.section-info__headline {
  font-size: 23px;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}
.section-info__subheadline {
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  text-align: center;
}
.section-info__body {
  font-weight: $font-weight-light;
}
.section-info p {
  padding: 17px 0;
}
.section-info img, .section-info .embed-responsive {
  margin: 17px 0;
}
.section-info__iframe {
  width: 100%;
}
@media (min-width: 768px) {
  .section-info {
    padding: 1.5rem 3rem 3rem 3rem;
  }
}