.section-competence {
  background-image: url('/static/img/background.jpg');
  background-size: cover;
  background-position: center center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-competence__flower {
  max-width: 100%;
}