.section-info {
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem 3rem;
  text-align: center;
}
.section-info__headline {
  font-size: 23px;
  font-weight: $font-weight-semi-bold;
  margin-bottom: 1.5rem;
}
.section-info__body {
  font-weight: $font-weight-light;
}