.section-info {
  padding: 1.5rem 1.5rem;
  background-color: rgba(255, 255, 255, 1);
}
.section-info__headline {
  font-size: 23px;
  font-weight: $font-weight-bold;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}
.section-info__body {
  font-weight: $font-weight-light;
}
@media (min-width: 768px) {
  .section-info {
    padding: 1.5rem 3rem;
  }
}