.section-competence {
  background-image: url('/static/img/background.jpg');
  background-size: cover;
  padding-bottom: 3rem;
  background-position: center center;
}
.section-competence__flower {
  max-width: 100%;
}