$sidebar-side-padding--mobile: 1.5rem;
$sidebar-side-padding--desktop: 2rem;
$sidebar-preview-color: $color--orange;
$sidebar-preview-button-color: darken($sidebar-preview-color, 8%);

.sidebar {
  color: rgba(255, 255, 255, 1);
  font-weight: $font-weight-semi-bold;
  height: 100%;
  padding: 1rem 0;
  font-size: 0.9rem;
  position: relative;
  z-index: 1000;
}
.sidebar--teaching-module {
  background-color: $color--teaching-module;
  .sidebar__nav {
    background-color: $color--teaching-module;
  }
}
.sidebar--trend {
  background-color: $color--trend;
  .sidebar__nav {
    background-color: $color--trend;
  }
}
.sidebar--tool {
  background-color: $color--tool;
  .sidebar__nav {
    background-color: $color--tool;
  }
}
.sidebar__headline {
  margin: 0;
  padding: 0 $sidebar-side-padding--mobile;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.sidebar__information {
  list-style: none;
  padding: 0 $sidebar-side-padding--mobile;
}
.sidebar__information-item {
  display: flex;
  font-weight: $font-weight-semi-bold;
  align-items: center;
  margin-bottom: 2rem;
  li {
    font-weight: $font-weight-semi-bold;
  }
}
.sidebar__information-icon {
  margin-right: 10px;
  font-size: 1.75rem;
}
.sidebar__nav {
  padding-left: 0;
  list-style: none;
}
.sidebar__nav-link {
  color: rgba(255, 255, 255, 1);
  padding: 1rem 1rem;
  padding-left: $sidebar-side-padding--mobile;
  text-transform: uppercase;
  &:active, &:hover, &:focus, &:link {
    color: rgba(255, 255, 255, 1);
  }
  &:hover {
    background-color: $color--daintree;
  }
  &.active {
    background-color: $color--daintree;
  }
}

.sidebar__nav {
  font-size: 0.65rem;
  position: fixed;
  bottom: 0;
  height: 63px;
  display: flex;
  left: 0;
  width: 100%;
  overflow-x: scroll;
}
.sidebar__nav-item {
  flex: 0 0 auto;
  border-top: 0;
  border-bottom: 0;
  border-right: 1px solid rgba(255, 255, 255, 1);
  &:last-child {
    border-right: 0;
    border-bottom: 0;
  }
}
.sidebar__nav-link {
  padding: 1.5rem 1rem;
  display: block;
  text-align: center;
  width: 100%;
}
.sidebar__nav-link-item {
  display: none;
}

.sidebar--preview {
  background-color: $sidebar-preview-color;
  font-weight: $font-weight-bold;
  font-size: 16px;
  line-height: 55px;
  padding-left: $sidebar-side-padding--mobile;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.sidebar--backlink {
  background-color: $sidebar-preview-button-color;
  float: right;
  line-height: 55px;
  padding: 0 20px;
  color: rgba(255, 255, 255, 1);
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

@media (min-width: 768px) {
  .sidebar__headline {
    padding: 0 $sidebar-side-padding--desktop;
  }
  .sidebar__information {
    padding: 0 $sidebar-side-padding--desktop;
  }
  .sidebar__nav-link {
    padding-left: $sidebar-side-padding--desktop;
  }
  .sidebar--preview {
    padding-left: $sidebar-side-padding--desktop;
  }
}

@media (min-width: 992px) {
  .sidebar__nav {
    position: relative;
    font-size: 0.9rem;
    height: auto;
    display: block;
  }
  .sidebar__nav-item {
    display: block;
    border-top: 2px solid white;
    &:last-child {
      border-bottom: 2px solid white;
    }
  }
  .sidebar__nav-link {
    text-align: left;
  }
  .sidebar__nav-link-item {
    display: block;
    float: right;
    margin-top: -4px;
  }
}