// Montserrat Font loaded from Google APIs

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,400i,600,700&display=swap');

// DLL Icon Font

@font-face {
    font-family: 'dll_icons';
    src: url('../../fonts/dll_icons.eot');
    src: url('../../fonts/dll_icons.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/dll_icons.woff2') format('woff2'),
        url('../../fonts/dll_icons.woff') format('woff'),
        url('../../fonts/dll_icons.ttf') format('truetype'),
        url('../../fonts/dll_icons.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='icon-'],
[class*='icon-'] {
    font-family: 'dll_icons';
    display: inline-block;
    font-style: normal;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dll-dll_emblem:after {
  content: "\0030";
}
.dll-info:after, .dll-1:after,
.icon-suchen-verarbeiten-aufbewahren:after {
  content: "\31";
}
.dll-koop:after, .dll-2:after,
.icon-kommunizieren-kooperieren:after {
  content: "\32";
}
.dll-prod:after, .dll-3:after,
.icon-produzieren-prasentieren:after {
  content: "\33";
}
.dll-sichern:after, .dll-4:after,
.icon-schutzen-sicher-agieren:after {
  content: "\34";
}
.dll-prob:after, .dll-5:after,
.icon-problemlosen-handeln:after {
  content: "\35";
}
.dll-kritik:after, .dll-6:after,
.icon-analysieren-reflektieren:after {
  content: "\36";
}
.dll-upload:after,
.icon-upload:after {
  content: "\37";
}
.dll-autor:after {
  content: "\38";
}
.dll-hexagon:after {
  content: "\39";
}
.dll-fachbereich:after {
  content: "\21";
}
.dll-stufe:after {
  content: "\79";
}
.dll-zeitumfang:after {
  content: "\78";
}
.dll-schulform:after {
  content: "\63";
}
.dll-kategorie:after {
  content: "\76";
}
.dll-zielgruppe:after {
  content: "\62";
}
.dll-sprache:after {
  content: "\6e";
}
.dll-lizenz:after {
  content: "\6d";
}
.dll-erscheinungsdatum:after {
  content: "\2c";
}
.dll-anwendung:after {
  content: "\2e";
}
.dll-registrierung:after {
  content: "\2d";
}
.dll-infohex-active:after, .dll-1ha:after {
  content: "\71";
}
.dll-koophex-active:after, .dll-2ha:after {
  content: "\77";
}
.dll-prodhex-active:after, .dll-3ha:after {
  content: "\65";
}
.dll-sichernhex-active:after, .dll-4ha:after {
  content: "\72";
}
.dll-probhex-active:after, .dll-5ha:after {
  content: "\74";
}
.dll-kritikhex-active:after, .dll-6ha:after {
  content: "\7a";
}
.dll-infohex:after, .dll-1h:after {
  content: "\61";
}
.dll-koophex:after, .dll-2h:after {
  content: "\73";
}
.dll-prodhex:after, .dll-3h:after {
  content: "\64";
}
.dll-sichernhex:after, .dll-4h:after {
  content: "\66";
}
.dll-probhex:after, .dll-5h:after {
  content: "\67";
}
.dll-kritikhex:after, .dll-6h:after {
  content: "\68";
}
