
// Colors
$color--fog: rgba(204, 216, 224, 1);
$color--whiskey: rgba(210, 170, 110, 1);
$color--daintree: rgba(0, 35, 45, 1);
$color--smalt-blue: rgba(75, 140, 140, 1);
$color--oracle: rgba(55, 110, 120, 1);
$color--teaching-module: rgba(230, 20, 35, 1);
$color--trend: rgba(210, 170, 110, 1);
$color--tool: rgba(50, 120, 200, 1);

$color--pale: rgba(108, 117, 125, 1);
$color--punch: rgba(220, 53, 69, 1);

$color--orange: rgba(255, 165, 0, 1);
$color--preview: rgba(255, 193, 7, 1);
$color--submit: rgba(0, 123, 255, 1);
// Fonts
$font-family-icons: 'dll_icons';
$font-body: 'Montserrat', sans-serif;

// Font Weights
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Font Colors
$color__body: rgba(0, 0, 0, 1);
