@import "variables_general";

$domain: 'digitallearningtools.de';

$color--darkblue: rgba(39, 42, 86, 1);
$color--daintree: rgb(59, 72, 140);
$color--submit: rgba(100, 123, 185, 1);
$color--oracle: rgba(100, 123, 185, 1);
$color--smalt-blue: rgba(100, 123, 185, 1);
$color--dll-oracle: rgba(55, 110, 120, 1);
