{% extends 'dll/error.html' %}

{% block status_code %}400{% endblock %}
{% block status_message %}Forbidden{% endblock %}
{% block description %}
  <p>Gründe dafür könnten sein, dass die Webseite momentan gewartet wird.</p>
  <p>Bitte versuchen Sie es später noch einmal.</p>
  <p>Sollte das Problem bestehen bleiben, schreiben Sie uns gerne über das <a href="{% url 'communication:contact' %}">Kontaktformular</a>, auf welcher Seite und in welcher Situation das Problem auftritt.</p>
{% endblock %}
