{% load wagtailembeds_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if value.image %}
  {% image value.image width-600 class="img-fluid" alt=value.alt_text|default:value.image.default_alt_text %}
{% else %}
  <div class="embed-responsive embed-responsive-16by9">
    {% embed value.video.url %}
  </div>
{% endif %}
<p class="text-{{ value.text_alignment|default:"center" }}">{{ value.subline }}</p>
<div class="text-{{ value.text_alignment|default:"center" }}">
  {{ value.text|richtext }}
</div>
{% if value.url %}
  <a href="{{ value.url }}">{{ value.link_text }}</a>
{% endif %}