{% load wagtailembeds_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% if is_sub_block %}
<div class="col-12">
{% endif %}

{% if value.image %}
  <div class="text-{{ value.image_alignment|default:"center" }}">
    {% image value.image width-1200 class="img-fluid" alt=value.alt_text|default:value.image.default_alt_text %}
  </div>
{% endif %}
{% if value.video %}
  <div class="embed-responsive embed-responsive-16by9">
    {% embed value.video.url %}
  </div>
{% endif %}
<p class="text-{{ value.text_alignment|default:"center" }} font-weight-semi-bold">{{ value.subline }}</p>
<div class="text-{{ value.text_alignment|default:"center" }}">
  {{ value.text|richtext }}
</div>
{% if value.url %}
<div class="text-{{ value.text_alignment|default:"center" }}">
  <a class="link--arrow" href="{{ value.url }}">{{ value.link_text }}</a>
</div>
{% endif %}

{% if is_sub_block %}
</div>
{% endif %}