{% extends "blocks/block_base.html" %}
{% load wagtailcore_tags %}

{% block block_content %}
  {{ block.super }}
  {% if value.url %}
  <div class="text-{{ value.text_alignment|default:"center" }} mb-5">
    <a class="link--arrow" href="{{ value.url }}">{{ value.link_text }}</a>
  </div>
  {% endif %}
  <div class="row">
    {% for block in value.elements %}
      {% with is_sub_block=True %}
        {% include_block block %}
      {% endwith %}
    {% endfor %}
  </div>
{% endblock block_content %}