{% extends "blocks/block_base.html" %}
{% load wagtailcore_tags %}
{% load wagtailembeds_tags %}
{% load wagtailimages_tags %}

{% block block_content %}
  <div class="row">
    <div class="col-lg-6{% if value.layout == "image_left" %} order-2{% endif %}">
      <h1 class="section-info__headline text-{{ value.text_alignment|default:"left" }} mt-4">{{ value.headline }}</h1>
      <h2 class="section-info__subheadline text-{{ value.text_alignment|default:"left" }} mt-4">{{ value.sub_headline }}</h2>
      <div class="text-{{ value.text_alignment|default:"left" }}">
       {{ value.text|richtext }}
      </div>
      <div class="text-{{ value.text_alignment|default:"center" }} mt-5">
        <a class="link--arrow" href="{{ value.url }}">{{ value.link_text }}</a>
      </div>
    </div>
    <div class="col-lg-6{% if value.layout == "image_left" %} order-1{% endif %}">
      {% if value.image %}
        {% image value.image width-720 class="img-fluid" alt=value.alt_text|default:value.image.default_alt_text %}
      {% else %}
        <div class="embed-responsive embed-responsive-16by9">
          {% embed value.video.url %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
