{% if object.textual_links %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      {{ literature_title }}
    </div>
    <div class="information-area__body">
      <ul class="list-unstyled">
        {% for link in object.textual_links %}
          <li>
            <a target="_blank" href="{{ link.url }}">{{ link.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
{% if object.video_links %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      {{ video_title }}
    </div>
    <div class="information-area__body">
      <ul class="list-unstyled">
        {% for link in object.video_links %}
          <li>
            <a target="_blank" href="{{ link.url }}">{{ link.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}