@font-face {
  font-family: "wagtail_admin";
  src: url("../fonts/wagtail_admin.eot");
  src: url("../fonts/wagtail_admin.eot?#iefix") format("embedded-opentype"),
       url("../fonts/wagtail_admin.woff2") format("woff2"),
       url("../fonts/wagtail_admin.woff") format("woff"),
       url("../fonts/wagtail_admin.ttf") format("truetype"),
       url("../fonts/wagtail_admin.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "wagtail_admin";
    src: url("../fonts/wagtail_admin.svg#wagtail_admin") format("svg");
  }
}

[class^="icon-wagtail-"]:before, [class*=" icon-wagtail-"]:before,
[class^="icon-wagtail-"]:after, [class*=" icon-wagtail-"]:after {
    font-family: wagtail_admin;
    font-size: 20px;
    font-style: normal;
}

.icon-wagtail-admin-columns-2:before { content: "\f100"; }
.icon-wagtail-admin-columns-3:before { content: "\f101"; }
.icon-wagtail-admin-layout:before { content: "\f102"; }

.DraftEditor-root {
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
}

.collapse-button {
    position: relative;
    border: solid #e6e6e6;
    color: #c3c3c3;
    border-width: 1px;
    background-color: #fafafa;
    font-family: wagtail;
    line-height: 1.4em;
    font-size: 2em;
    margin-top: 0.25em;
    margin-bottom: 1em;
}
.collapse-button.is-active {
    transform: rotate(180deg);
}
.collapse--custom {
    display: none;
}