<h2>Überblick</h2>
<div class="information-area information-area--{{ object.type }}">
  <div class="information-area__title information-area__title">
    Kompetenzen in der Digitalen Welt
  </div>
  <div class="information-area__body">
    <ul class="list-unstyled">
      {% for competence in object.competences.all %}
        <li>{{ competence.name }}</li>
      {% endfor %}
    </ul>
    {% for competence in competences %}
      <span class="information-area__icon icon-{{ competence.slug }}{% if competence in object.competences.all %} information-area__icon--active{% endif %}"></span>
    {% endfor %}
  </div>
</div>

{% if object.description %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Beschreibung/Funktion
    </div>
    <div class="information-area__body">
      {{ object.description|linebreaksbr }}
    </div>
  </div>
{% endif %}

{% if object.applications.all|length > 0 %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      App/Programm/Website
    </div>
    <div class="information-area__body">
      <ul class="list-unstyled">
        {% for app in object.applications.all %}
          <li>{{ app.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if object.operating_systems.all|length > 0 %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Betriebssystem
    </div>
    <div class="information-area__body">
      <ul class="list-unstyled">
        {% for app in object.operating_systems.all %}
          <li>{{ app.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if object.type %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Offline/Online
    </div>
    <div class="information-area__body">
      {{ object.get_status_display }}
    </div>
  </div>
{% endif %}

{% if object.pro.0 %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Pro
    </div>
    <div class="information-area__body">
      <ul class="list-unstyled">
        {% for pro in object.pro %}
          <li>{{ pro }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if object.contra.0 %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Kontra
    </div>
    <div class="information-area__body">
      <ul class="list-unstyled">
        {% for contra in object.contra %}
          <li>{{ contra }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}