{% extends 'dll/content/detail.html' %}
{% load static %}


{% block content_additional_information %}

  {# TODO ARRAYFIELD publisher #}
  {% if object.textual_links %}
    {# TODO ARRAYFIELD #}
    <div class="col">
      <div class="content-info_link d-flex flex-column">
          {% for link in object.textual_links %}
          <div class="pb-2">
            <span class="fas fa-at"></span>
            <a target="_blank" rel="noopener noreferrer" href="{{ link.url }}">{{ link.name }}</a>
          </div>
          {% endfor %}
      </div>
    </div>
  {% endif %}

  {{ block.super }}
  
  {% if 'tuhh' in object.json_data.from_import %}
    <div class="col">
      <img class="content-info__partner-logo" src="{% static 'img/partners/tuhh_logo.svg' %}" alt="Logo TUHH">
    </div>
  {% endif %}
{% endblock %}


{% block sidebar_information %}
  {% if object.category %}
    <li class="sidebar__information-item">
      <span class="sidebar__information-icon icon-category"></span>
      {{ object.get_category_display }}
    </li>
  {% endif %}

  {% if object.target_group %}
    <li class="sidebar__information-item">
      <span class="sidebar__information-icon icon-search"></span>
      <ul class="list-unstyled">
        {% for group in object.target_group %}
          <li>{{ group }}</li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}

  {% if object.language %}
    <li class="sidebar__information-item">
      <span class="sidebar__information-icon icon-language"></span>
      {{ object.get_language_display }}
    </li>
  {% endif %}

  {% if object.publisher_date %}
    <li class="sidebar__information-item">
      <span class="sidebar__information-icon icon-release-date"></span>
      {{ object.publisher_date|date:"Y" }}
    </li>
  {% endif %}

  {% if object.licence %}
    <li class="sidebar__information-item">
      <span class="sidebar__information-icon fab fa-creative-commons"></span>
      <a href="https://creativecommons.org/licenses/" target="_blank" rel="noopener noreferrer">{{ object.get_licence_display }}</a>
    </li>
  {% endif %}
{% endblock %}


{% block sidebar_navigation_items %}
  <li class="sidebar__nav-item">
    <a class="sidebar__nav-link nav-link js-sidebar-nav-item active" id="overview-tab" data-toggle="pill" href="#overview" role="tab" aria-controls="overview" aria-selected="true">
      Überblick
      <span class="sidebar__nav-link-item fas fa-angle-right fa-2x"></span>
    </a>
  </li>
  <li class="sidebar__nav-item">
    <a class="sidebar__nav-link nav-link js-sidebar-nav-item" id="hints-tab" data-toggle="pill" href="#hints" role="tab" aria-controls="hints" aria-selected="true">
      Hinweise
      <span class="sidebar__nav-link-item fas fa-angle-right fa-2x"></span>
    </a>
  </li>
  {% if object.related_content.count %}
  <li class="sidebar__nav-item">
    <a class="sidebar__nav-link nav-link js-sidebar-nav-item" id="related-content-tab" data-toggle="pill" href="#related-content" role="tab" aria-controls="related-content" aria-selected="true">
      Verknüpfte Inhalte
      <span class="sidebar__nav-link-item fas fa-angle-right fa-2x"></span>
    </a>
  </li>
  {% endif %}
{% endblock %}

{% block tab_contents %}
  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    {% include 'dll/content/trends/overview.html' %}
  </div>
  <div class="tab-pane fade" id="hints" role="tabpanel" aria-labelledby="hints-tab">
    {% include 'dll/content/trends/hints.html' %}
  </div>
  {% if object.related_content.count %}
    <div class="tab-pane fade" id="related-content" role="tabpanel" aria-labelledby="related-content-tab">
      {% include 'dll/content/trends/related_content.html' %}
    </div>
  {% endif %}
{% endblock %}
