{% load static %}
<section class="section-competence section-potentials">
    <div class="potentials-grid d-flex">
        <div class="potential-center--mobile">
            <h2>
                Entdecke passende Unterrichtstools
            </h2>
        </div>
        {% for potential in potentials %}
            <div class="potential-box">
                <img src="{% static potential.1 %}" class="potential-box-image" alt="">
                {{ potential.0.name }}
            </div>
            {% if forloop.counter == 5%}

            <div class="potential-center">
                <h2>
                    Entdecke passende Unterrichtstools
                </h2>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>