{% extends 'dll/default_page.html' %}

{% block content %}
  <h2>Newsletter</h2>
  <p>
    Ja, ich möchte kostenlos den <i class="dll dll-dll_emblem dll-2x" style="font-weight:normal"></i> Newsletter abonnieren und an die angegebene E-Mail-Adresse
    erhalten.<br>Ich kann diesen Service in jedem Newsletter abbestellen.
  </p>
  <form method="post">
    {% csrf_token %}
    <p>
      <label for="id_email_address">Ihre E-Mail-Adresse:&nbsp;</label>
      {{ form.email_address }}
    </p>
    <p>
      {{ form.check_text }}
      <label for="id_check_text" class="font-weight-normal">&nbsp;{{ form.check_text.label }}</label>
    </p>
    <p><a href="https://archive-list.newsletter2go.com/?n2g=kd5o5e1z-pfn1n2s7-5d3&_ga=2.91983898.1053624301.1570523171-2013114617.1570523171" target="_blank" >Link zu bisherigen Newsletterausgaben</a></p>
    <button class="button button--primary" type="submit">Jetzt anmelden</button>
  </form>
  <a href="{% url 'communication:newsletter-unregister' %}">&gt; Newsletter abbestellen</a>
{% endblock %}
