{% extends 'dll/base.html' %}

{% block body %}
  <section class="mt-5 mb-5">
  <div class="row justify-content-center no-gutters">
      <div class="col col-12 col-md-9 col-xl-6">
        <div class="section-info">
          <div class="section-info__body">
            <h2>Newsletter abbestellen</h2>
            <p>
              Hier können Sie Ihre E-Mail-Adresse für die Newsletter-Zusendung sperren. Nach erfolgter Änderung erhalten Sie eine Bestätigung an die genannte E-Mail Adresse.
            </p>
            <form method="post">
              {% csrf_token %}
              <p><label for="id_email_address">Ihre E-Mail-Adresse:</label><input type="email" name="email_address" required="" id="id_email_address"></p>
              <button class="button button--primary" type="submit">Jetzt abmelden</button>
            </form>
          </div>
        </div>
      </div>
  </div>
  </section>
{% endblock %}