{% extends 'dll/default_page.html' %}

{% block content %}

  <h2>Kontaktformular</h2>
  <p>Vielen Dank für Ihr Interesse am digital.learning.lab.<br>
    Über das nachfolgende Kontaktformular können Sie uns Feedback zu den Unterrichtsbausteinen,
    den Tools und den Trends sowie zum digital.learning.lab allgemein geben.</p>
  <p>Wir freuen uns auf Ihre Nachricht.</p>
  <div class="row">
    <form method="post" class="col col-12 col-lg-8" onsubmit="submitWithReCaptcha()">
      {% csrf_token %}
      <input type="hidden" name="g-recaptcha-response" value="token">
      <div class="form-group">
        <label for="id_from_email">Ihre E-Mail-Adresse*:</label>
        <input class="form-control" type="email" name="from_email" required="" id="id_from_email">
      </div>
      <div class="form-group">
        <label for="id_subject">Der Grund für Ihre Kontaktaufnahme*:</label>
        <select class="form-control" name="subject" required="" id="id_subject">
          <option value="" selected="">Bitte wählen Sie</option>
            {% for id, verbose in form.fields.subject.choices %}
                <option value={{ id }}>{{ verbose }}</option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="id_message">Ihre Mitteilung*:</label>
        <textarea class="form-control" name="message" required="" cols="40" rows="10" id="id_message"></textarea>
      </div>
      <button class="button button--primary" type="submit">
        Absenden
      </button>
    </form>
  </div>
  <p class="semibold">* Pflichtfelder</p>
{% endblock %}

{% block extra_scripts %}
    <script src="https://www.google.com/recaptcha/api.js?render={{ GOOGLE_RECAPTCHA_WEBSITE_KEY }}" async defer></script>
    <script>
        const websiteKey = "{{ GOOGLE_RECAPTCHA_WEBSITE_KEY }}";

    </script>
{% endblock %}
