{% extends 'dll/default_page.html' %}

{%  block title %}Datenschutz{% endblock %}

{% block content %}
  <h1 id="datenschutzerklärung">Datenschutzerklärung</h1>
  <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen
    Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>
  <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken
    aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.</p>
  <h2 id="erhebung-verarbeitung-nutzung-und-weitergabe-von-daten">1. Erhebung, Verarbeitung, Nutzung und Weitergabe
    von Daten</h2>
  <p>Bei jedem Zugriff eines Nutzers auf das Internet-Angebot und bei jedem Abruf einer Datei werden Daten über diesen
    Vorgang vorübergehend in einer Protokolldatei gespeichert und verarbeitet. Dies sind:</p>
  <ul>
    <li>IP-Adresse</li>
    <li>Datum und Uhrzeit</li>
    <li>aufgerufene Seiten</li>
    <li>übertragene Dateien</li>
    <li>Betriebssystem</li>
    <li>Version des Browsers</li>
    <li>Herkunftsseite</li>
  </ul>
  <p>Diese Daten werden lediglich für statistische Zwecke ausgewertet. Eine Zusammenführung dieser Daten mit anderen
    Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete
    Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden. Daten, die im Rahmen der Nutzung eingegeben werden,
    werden nur zweckgebunden verarbeitet und solange gespeichert, wie sie für die jeweilige Vorgangsverarbeitung
    bzw. damit zusammenhängende Zwecke benötigt werden. Eine Weitergabe von uns erhobener Daten an Dritte findet
    nicht statt. Eine Offenlegung gegenüber Dritten erfolgt nur, insoweit wir gesetzlich dazu verpflichtet sind.</p>
  <h2 id="widerruf-der-einwilligung">2. Widerruf der Einwilligung</h2>
  <p>Sie haben das Recht, eine erteilte Einwilligung mit Wirkung für die Zukunft jederzeit zu widerrufen. Die Löschung
    der gespeicherten personenbezogenen Daten erfolgt, wenn Sie Ihre Einwilligung zur Speicherung widerrufen, wenn
    ihre Kenntnis zur Erfüllung des mit der Speicherung verfolgten Zwecks nicht mehr erforderlich ist oder wenn ihre
    Speicherung aus sonstigen gesetzlichen Gründen unzulässig ist.</p>
  <p>Bei Widerruf Ihres Einverständnisses kontaktieren sie uns bitte über das Kontaktformular.</p>
  <p>Wir geben Ihnen dann gerne Auskunft zu den über Sie gespeicherten Daten. Sollten unzutreffende Daten gespeichert
    sein, können Sie dort auch die Berichtigung verlangen. Wenn Sie weitere Fragen zu diesem Thema und zum Thema
    Datenschutz bei uns haben, können Sie sich jederzeit an kontakt@digitallearninglab.de wenden.</p>
  <h2 id="cookies">3. Cookies</h2>
  <p>Unser System verwendet sogenannte Cookies, die auf dem Rechner der Nutzer gespeichert werden. Die Speicherung
    der Cookies kann jederzeit durch entsprechende Einstellung des Internetbrowsers rückgängig gemacht bzw. verhindert
    werden.</p>
  <h2 id="google-fonts">4. Google Fonts</h2>
  <p>Auf diesen Internetseiten werden externe Schriften, Google Fonts verwendet. Google Fonts ist ein Dienst der Google Inc. (“Google”). Die Einbindung dieser Web Fonts erfolgt durch einen Serveraufruf, in der Regel ein Server von Google in den USA. Hierdurch wird an den Server übermittelt, welche unserer Internetseiten Sie besucht haben. Auch wird die IP-Adresse des Browsers des Endgerätes des Besuchers dieser Internetseiten von Google gespeichert. Nähere Informationen finden Sie in den Datenschutzhinweisen von Google, die Sie hier abrufen können:

    <a href="https://www.google.com/fonts#AboutPlace:about">www.google.com/fonts#AboutPlace:about</a>

    <a href="https://www.google.com/policies/privacy/">www.google.com/policies/privacy/</a></p>
 
  <h2 id="google-fonts">5. Google reCAPTCHA</h2>
  <p>Um bei der Übermittlung des Kontaktformulars ausreichende Datensicherheit zu gewährleisten, nutzt diese Seite den Service reCAPTCHA von Google Inc. Dieser Service prüft, ob die Eingabe durch eine natürliche Person oder missbräuchlich durch eine maschinelle, automatisierte Verarbeitung erfolgt ist. Dabei werden die IP Adresse sowie weitere benötigte Daten an Google übermittelt. An dieser Stelle gelten abweichende Datenschutzbestimmungen von Google Inc. Weitere Informationen finden Sie unter diesen Links:

    <a href="https://www.google.de/intl/de/privacy">www.google.com/fonts#AboutPlace:about</a>

    <a href="https://www.google.com/intl/de/policies/privacy/">www.google.com/policies/privacy/</a></p>
  
  <h2 id="analyse">6. Analysedienste</h2>
  <p>Diese Website benutzt Matomo, eine Open-Source-Software zur statistischen Auswertung der Besucherzugriffe. Matomo
    verwendet ebenfalls sog. Cookies, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse
    der Benutzung der Webseite durch Sie ermöglichen. Die durch die Cookies erzeugten Informationen über Ihre Benutzung
    dieses Internetangebotes werden auf dem Server von IONOS in Deutschland gespeichert. Sie können die Installation
    der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf
    hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Webseite vollumfänglich nutzen
    können.</p>

{% endblock %}