{% extends 'dll/base.html' %}

{% block body %}
  <section class="mb-5 mt-5">
    <div class="row justify-content-center no-gutters">
      <div class="col col-12 col-md-10 col-xl-9">
        <div class="section-info">
          <div class="section-info__body">
            {% block breadcrumbs %}
              {% include 'dll/includes/breadcrumbs.html' %}
            {% endblock %}
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}