{% extends 'dll/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}
{% block body %}
<main>
  <section class="section-competence">
    <div class="row no-gutters justify-content-center">
      <div class="col col-12 col-sm-8 col-md-7 col-lg-6 col-xl-4 text-center">
        {% include 'dll/content/includes/dllflower.svg' %}
      </div>
    </div>
  </section>
  {% block cms %}
  <section class="mb-5">
    <div class="row no-gutters justify-content-center">
      <div class="col col-12 col-md-10 col-lg-9 col-xl-8">
        <div class="section-info pt-5 pb-3 text-center">
          <h3 class="section-info__headline">Was ist das digital.learning.lab?</h3>
          <div class="section-info__body">
            <p>
              Das digital.learning.lab ist ein offenes Online-Kompetenzzentrum für die Unterrichtsgestaltung in digitalen Zeiten.
              Lehrkräfte finden hier Anregungen und Unterstützung, ihren Unterricht unter Berücksichtigung der Kompetenzen für eine
              digitalisierte Lebens- und Arbeitswelt weiter zu entwickeln.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-5">
    <div class="row no-gutters justify-content-center">
      <div class="col col-12 col-md-10 col-lg-9 col-xl-8">
        <div class="section-info pt-5 pb-3 text-center">
          <h3 class="section-info__headline">Impulse für den digital gestützten Hybridunterricht</h3>
          <div class="section-info__body">
            <p>
              Zur Umsetzung innovativer Unterrichtskonzepte haben wir konkrete Impulse zur Gestaltung
              von hybridem Unterricht mit digitalen Tools sowie weitere Informations- und Qualifizierungsangebote zusammengetragen.
            </p>
          </div>
          <div class="row mt-5 mb-5">
            <div class="col-sm">
              <img class="img-responsive"
                   src="https://data.digitallearninglab.de/index.php/apps/sharingpath/dll/DLL/files/images/hybrid-unterricht.PNG"
                   title="Hybridunterricht" alt="Hybridunterricht Titelbild"/>
              <div class="text-center">
                <p class="mt-4 font-weight-semi-bold text-left d-inline-block">
                Grundsätzlich für den <br/> Hybridunterricht geeignete <br/> Unterrichtsbausteine
              </p>
              </div>
            </div>
            <div class="col-sm">
              <img class="img-responsive"
                   src="https://data.digitallearninglab.de/index.php/apps/sharingpath/dll/DLL/files/images/fernunterricht.PNG"
                   title="Fernunterricht" alt="Fernunterricht Titelbild"/>
              <div class="text-center">
                <p class="mt-4 font-weight-semi-bold text-left d-inline-block">
                Digitale Tools in Zeiten <br/> des Hybridunterrichts
              </p>
              </div>
            </div>
            <div class="col-sm">
              <img class="img-responsive"
                   src="https://data.digitallearninglab.de/index.php/apps/sharingpath/dll/DLL/files/images/online-unterricht.PNG"
                   title="Online-Unterricht" alt="Online-Unterricht Titelbild"/>
              <div class="text-center">
                <p class="mt-4 font-weight-semi-bold text-left d-inline-block">
                Aktuelle Informations- und <br/> Qualifizierungsquellen <br/> für den Hybridunterricht
              </p>
              </div>
            </div>
          </div>
          <p class="mt-5"><a href="https://digitallearninglab.de/impulse-hybridunterricht/" class="info-box__link info-box__link--inline">Hier inspirieren lassen</a></p>
        </div>
      </div>
    </div>
  </section>
  <section class="mb-5" id="dll-aufbau">
    <div class="row no-gutters justify-content-center">
      <div class="col-md-5 col-lg-5 col-xl-4">
        <article class="news-box news-box--news">
          <div class="news-box__head">Von Lehrkräften für Lehrkräfte</div>
          <h2 class="news-box__subhead">Einreichung <span class="news-box__subhead__span">eigener Unterrichtskonzepte</span> leicht gemacht</h2>
          <div class="news-box__body">
            Inspirieren auch Sie deutschlandweit Kolleginnen und Kollegen anderer Schulen mit Ihren digitalen
            Unterrichtsideen. Über den Login-Bereich können Sie eigene Unterrichtsimpulse erstellen.
          </div>
          {% if request.user.is_authenticated %}
          <a href="{% url 'user-content-overview' %}" class="news-box__link">
            Hier geht es zu Ihren Inhalten
          </a>
          {% else %}
          <a href="{% url 'user:login' %}" class="news-box__link">
            Hier geht es zum Login-Bereich
          </a>
          {% endif %}
        </article>
      </div>

      <div class="col-md-5 col-lg-4 col-xl-4">
        <article class="news-box">
          <div class="news-box__head">Fortbildung</div>
          <h2 class="news-box__subhead">Kostenlose <span class="news-box__subhead__span">Online-Fortbildung</span> zum digital.learning.lab</h2>
          <div class="news-box__body">
            Sie möchten Ihre Kompetenzen im Umang mit dem dll erweitern? Fobizz bietet Ihnen dafür eine kostenlose
            Online-Fortbildung mit abschließendem Zertifikat.
          </div>
          <a href="{{ training_trend.get_absolute_url }}" class="news-box__link">
            Zur Fortbildung gelangen Sie hier
          </a>
        </article>
      </div>
    </div>
  </section>

  <section class="mb-5" id="dll-sharing">
    <div class="row no-gutters justify-content-center">
      <div class="col col-12 col-md-10 col-lg-9 col-xl-8">
        <article class="news-box text-center">
          <div class="news-box__head px-1">Passende Inhalte merken und mit anderen Lehrkräften teilen</div>
          <img class="img-fluid" src="https://data.digitallearninglab.de/index.php/apps/sharingpath/dll/DLL/files/images/dll_teilen.png" />
          <div class="news-box__body pt-4 mb-0">
            <p class="text-sm-center">
              Digitale Unterrichtsbausteine sind offene Unterrichtsimpulse, die konkrete Unterrichtssituationen im schulischen Fachunterricht mit digitalen Medien beschreiben und den Kompetenzerwerb für die digitale Welt unterstützen.
              <br/>
              <br/>
            <a href="{% url 'teaching-modules-filter' %}" class="news-box__link position-relative mt-5">
              Digitale Unterrichtsbausteine anschauen
            </a>
            </p>
          </div>
        </article>
    </div>
    </div>
  </section>


  <section class="mb-5">
    <div class="row no-gutters justify-content-center">
      <div class="col col-12 col-md-10 col-lg-9 col-xl-8">
        <div class="section-info">
          <h3 class="section-info__headline">Mehr Informationen zum digital.learning.lab?</h3>
          <div class="section-info__body">
            <div class="row">
              <div class="col col-12 col-lg-4 mb-4">
                <article class="info-box">
                  <div class="info-box__head">Struktur</div>
                  <div class="info-box__image-container">
                    <img class="info-box__image" src="{% static 'img/content/struktur_preview.png' %}"
                         srcset="{% static 'img/content/struktur_preview.png' %} 1x, {% static 'img/content/struktur_preview_large.png' %} 2x"
                         alt="Skizze zur Struktur des dll">
                  </div>
                  <div class="info-box__body">
                    Entlang von sechs Kompetenzbereichen für die digitale Welt werden im dll Inhalte für Lehrkräfte zur
                    Gestaltung ihres Fachunterrichts mit digitalen Medien bereitgestellt.
                  </div>
                  <a href="{% url 'structure' %}" class="info-box__link">
                    weiterlesen
                  </a>
                </article>
              </div>
              <div class="col col-12 col-lg-4 mb-4">
                <article class="info-box">
                  <div class="info-box__head">Nutzung</div>
                  <div class="info-box__image-container">
                    <img class="info-box__image" src="{% static 'img/content/nutzung_preview.png' %}"
                         srcset="{% static 'img/content/nutzung_preview.png' %} 1x, {% static 'img/content/nutzung_preview_large.png' %} 2x"
                         alt="Sizze zur Nutzung des dll">
                  </div>
                  <div class="info-box__body">
                    Lehrkräfte können mit dem dll ihren Unterricht neu (digital) gestalten, verschiedene Tools
                    kennenlernen und sich über schulischen Fachunterricht in digitalen Zeiten informieren.
                  </div>
                  <a href="{% url 'usage' %}" class="info-box__link">
                    weiterlesen
                  </a>
                </article>
              </div>
              <div class="col col-12 col-lg-4 mb-4">
                <article class="info-box">
                  <div class="info-box__head">Entwicklung</div>
                  <div class="info-box__image-container">
                    <img class="info-box__image" src="{% static 'img/content/entwicklung_preview.png' %}"
                         srcset="{% static 'img/content/entwicklung_preview.png' %} 1x, {% static 'img/content/entwicklung_preview_large.png' %} 2x"
                         alt="Skizze zur Entwicklung des dll">
                  </div>
                  <div class="info-box__body">
                    Das dll wird hier in einer ersten Version veröffentlicht. Das Konzept und die Webplattform werden
                    kontinuierlich weiterentwickelt und erweitert.
                  </div>
                  <a href="{% url 'development' %}" class="info-box__link">
                    weiterlesen
                  </a>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock cms %}
  <section class="mb-5">
    <div class="row no-gutters justify-content-center">
      <div class="col col-12 col-md-10 col-xl-9">
        <div class="section-info">
          <h3 class="section-info__headline">Vorgeschlagene Inhalte</h3>
          <div class="section-info__body">
            <div class="row">
              {% for content in contents %}
              <div class="col col-12 col-xl-6 mb-5">
                {% include 'dll/includes/content_teaser.html' %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mb-5">
    <div class="row no-gutters justify-content-center">
      <div class="col col-12 col-md-10 col-xl-9">
        <div class="section-info">
          <h3 class="section-info__headline">Verbundpartner</h3>
          <div class="section-info__body">
            <div class="row align-items-center justify-content-around">
              <div class="col col-12 col-sm-6 col-lg-2 mb-5">
                <div class="partner-logo">
                  <a href="https://www.itbh-hh.de/" class="partner-logo__link" name="Partner ITBH" target="_blank"
                     rel="noopener noreferrer">
                    <img src="{% static 'img/partners/ITBH_Logo_cmyk.svg' %}" alt="ITBH" class="partner-logo__image">
                  </a>
                </div>
              </div>
              <div class="col col-12 col-sm-6 col-lg-3 mb-5">
                <div class="partner-logo">
                  <a href="https://www.tuhh.de/" class="partner-logo__link" name="Partner TUHH" target="_blank"
                     rel="noopener noreferrer">
                    <img src="{% static 'img/partners/tuhh_logo.svg' %}" alt="TUHH" class="partner-logo__image">
                  </a>
                </div>
              </div>
              <div class="col col-12 col-sm-6 col-lg-4 mb-5">
                <div class="partner-logo">
                  <a href="https://www.hamburg.de/bsb/wir-ueber-uns/" name="Partner BSB Hamburg"
                     class="partner-logo__link" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'img/partners/Logo_BSB.jpg' %}"
                         srcset="{% static 'img/partners/Logo_BSB.jpg' %} 1x, {% static 'img/partners/Logo_BSB__large.jpg' %} 2x"
                         alt="BSB Hamburg" class="partner-logo__image">
                  </a>
                </div>
              </div>
              <div class="col col-12 col-sm-6 col-lg-3 mb-5">
                <div class="partner-logo">
                  <a href="https://www.joachim-herz-stiftung.de/" name="Partner Joachim Herz Stiftung"
                     class="partner-logo__link" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'img/partners/JHS_Logo_RGB.png' %}" alt="Joachim Herz Stiftung"
                         class="partner-logo__image">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}

{% block extra_scripts %}
{% render_bundle 'flower' 'js' %}
{% endblock %}
