{% extends 'dll/default_page.html' %}

{%  block title %}Impressum{% endblock %}

{% block content %}
  <h1 id="impressum">Impressum</h1>
  <h2 id="anschrift">Anschrift</h2>
  <p>TU Hamburg | digital.learning.lab</p>
  <p>Institut für Technische Bildung &amp; Hochschuldidaktik</p>
  <p>Am Irrgarten 3-9, 21073 Hamburg</p>
  <h2 id="kontakt">Kontakt</h2>
  <p>Fon: +49 40 428 78 - 61 96</p>
  <p>E-Mail: <a href="mailto:kontakt@digitallearninglab.de" target="_blank" rel="noopener noreferrer">kontakt@digitallearninglab.de</a></p>
  <p>Website: <a href="https://itbh-hh.de/de/" target="_blank" rel="noopener noreferrer">https://itbh-hh.de/de/</a></p>
  <h2 id="herausgeber">Herausgeber</h2>
  <p>Der Leiter des Instituts für Technische Bildung und Hochschuldidaktik Prof. Dr. Sönke Knutzen</p>
  <h2 id="verantwortlich-für-konzeption-und-technik">Verantwortlich für Konzeption und Technik</h2>
  <h3 id="wissenschaftliche-leitung">Wissenschaftliche Leitung</h3>
  <p>Prof. Dr. Sönke Knutzen</p>
  <h3 id="projektleitung">Projektleitung</h3>
  <p>Dr. Henning Klaffke</p>
  <h3 id="projektmitarbeitende">Projektmitarbeitende</h3>
  <p>Ronny Röwert<br>Annett Lehmann<br>Berenice Bischoff<br>Huu Hung Nguyen</p>
  <h3 id="unterstützung-plattformentwicklung">Unterstützung Plattformentwicklung</h3>
  <p><a href="https://www.blueshoe.de/de/" target="_blank" rel="noopener noreferrer" >BLUESHOE GmbH</a></p>
  <h3 id="rechtliche-hinweise">Rechtliche Hinweise</h3>
  <h4 id="inhalte-des-online-angebotes">Inhalte des Online-Angebotes</h4>
  <p>Der Anbieter stellt den Nutzern im Rahmen seiner technischen und wirtschaftlichen Möglichkeiten diesen Dienst
    unentgeltlich zur Verfügung. Der Anbieter ist bemüht seinen Dienst verfügbar zu halten. Der Anbieter übernimmt
    keine darüberhinausgehenden Leistungspflichten, insbesondere besteht kein Anspruch des Nutzers auf eine
    ständige Verfügbarkeit des Dienstes. Der Anbieter übernimmt keine Gewähr für die Richtigkeit, Vollständigkeit,
    Aktualität und Brauchbarkeit der bereitgestellten Inhalte. Der Anbieter ist berechtigt, Änderungen an seinem
    Dienst vorzunehmen und seinen Dienst jederzeit ohne Ankündigung zu beenden.</p>
  <h4 id="links-und-verweise">Links und Verweise</h4>
  <p>Das Dienstangebot enthält Verknüpfungen zu Webseiten Dritter (externe Links). Diese Webseiten unterliegen der
    Haftung der jeweiligen Betreiber. Der Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige
    Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von Links bedeutet nicht, dass sich der
    Anbieter diese Inhalte zu eigen macht. Eine ständige Kontrolle der externen Inhalte ist für den Anbieter ohne
    konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnisnahme von Rechtsverstößen werden jedoch
    derartige externe Inhalte unverzüglich gelöscht.</p>
  <h4 id="urheber--und-kennzeichenrecht">Urheber- und Kennzeichenrecht</h4>
  <p>Die auf den Webseiten zur Verfügung gestellten Texte, Textteile, Grafiken, Tabellen, Bildmaterialien und
    Unterrichtsbausteine stehen unter einer
    <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">CC BY-SA 4.0</a> Lizenz und
    dürfen unter Angabe der Urheber verwendet, verändert und mit der gleichen
    Lizenz veröffentlicht werden. Die Webseite selbst steht unter einer
    <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noopener noreferrer">GNU General Public License v3.0</a>.
  </p>
{% endblock %}