{% extends 'dll/base.html' %}
{% load breadcrumb_tags %}

{% block body %}
  <section class="mb-5 mt-5 container-fluid">
    <div class="row justify-content-center">
      <div class="col col-12 col-md-10 col-xl-9">
        {% block breadcrumbs %}
          {% simple_breadcrumb 'Suchergebnisse' as breadcrumbs %}
          {% include 'dll/includes/breadcrumbs.html' %}
        {% endblock %}
        {% block messages %}
          {% include 'dll/includes/messages.html' %}
        {% endblock %}
        {% block content %}
          <div class="row">
          {% for result in results %}
            <div class="col-12 col-md-6 mb-5">
            {% include 'dll/includes/content_teaser.html' with content=result %}
            </div>
          {% endfor %}
          {% if not results|length %}
            <div class="col-12">
            <h1>Ihre Suchanfrage ergab keine Treffer.</h1>
            </div>
          {% endif %}
          </div>
          </div>
          {% include 'dll/includes/more_like_this.html' with more_like_this=mlt %}
        {% endblock %}
    </div>
  </section>
{% endblock %}