{% extends 'dll/default_page.html' %} {% block content %}
{% load static %}
  <section><h1>Wie ist das dll aufgebaut?</h1>
    <p>Das digital.learning.lab (dll) ist ein Hamburger Kompetenzzentrum für die Unterrichtsgestaltung in digitalen
      Zeiten. Digitale Medien sollen dabei nicht um ihrer selbst Willen in den Unterricht integriert werden, sondern
      vielmehr dazu dienen, die Kompetenzen von Lehrkräften sowie von Schülerinnen und Schülern zur gestaltenden
      Teilhabe in der digitalen Welt zu fördern. Diesem Ziel folgend, möchte das dll Lehrkräfte dabei unterstützen,
      selbst Kompetenzen für die digitale Welt zu erwerben bzw. auszubauen. So sollen sie befähigt werden, auch ihre
      Schülerinnen und Schüler in ihrem Kompetenzerwerb zu unterstützen.</p>
    <p>Das digital.learning.lab vereint dafür drei inhaltliche Elemente, die eng miteinander verzahnt sind, um einen
      integrativen Zugang zum Lernen in der digitalen Welt anzubieten:</p>
    <ul>
      <li>offene digitale Unterrichtsbausteine als Good Practice-Beispiele,</li>
      <li>eine umfangreiche Toolbox und</li>
      <li>Trends (aufbereitete Forschungserkenntnisse zum Lernen im digitalen Zeitalter, inspirierende Praxisbeispiele
        sowie weitere relevante Informationen und Hinweise).
      </li>
    </ul>
  </section>
  <section><p>Ergänzend zu den Inhalten soll in der Weiterentwicklung des digital.learning.lab ein
    Unterstützungsangebot, z.B. in Form von Tutorials, geschaffen werden, um Lehrkräfte noch gezielter in ihrem
    Kompetenzerwerb und bei der Unterrichtsvorbereitung und -gestaltung unterstützen zu können.</p>
    <h1>Kompetenzen in der digitalen Welt</h1>
    <p>Der Zugang zum dll erfolgt über die sechs Kompetenzbereiche des Kompetenzrahmens der Kultusministerkonferenz<a
      href="/trend/strategie-der-kultusministerkonferenz-bildung-in-der-digitalen-welt">"Bildung in der digitalen
      Welt"</a>. Da die Inhaltselemente immer den entsprechenden Kompetenzbereichen zugeordnet sind, können Lehrkräfte
      direkt die Inhalte auswählen, die sie brauchen, um die jeweiligen Kompetenzen bei ihren Schülerinnen und Schülern
      zu fördern.</p>
    <ul class="nav nav-tabs tabs row" id="competences-list" role="tablist">
      <li class="nav-item col-6 col-sm-4 col-lg-2 tab">
        <a class="nav-link tab__link active" id="suchen-tab" data-toggle="tab" href="#suchen" role="tab"
                              aria-controls="suchen" aria-selected="true">
          <img class="tab__svg tab__svg--off" src="{% static 'img/content/structure/Struktur-Buttons_suchen_off.svg' %}" alt="">
          <img class="tab__svg tab__svg--on" src="{% static 'img/content/structure/Struktur-Buttons_suchen_on.svg' %}" alt="">
        </a>
      </li>
      <li class="nav-item col-6 col-sm-4 col-lg-2 tab">
        <a class="nav-link tab__link" id="kommunizieren-tab" data-toggle="tab" href="#kommunizieren" role="tab"
                              aria-controls="kommunizieren" aria-selected="false">
          <img class="tab__svg tab__svg--off" src="{% static 'img/content/structure/Struktur-Buttons_kommunizieren_off.svg' %}" alt="">
          <img class="tab__svg tab__svg--on" src="{% static 'img/content/structure/Struktur-Buttons_kommunizieren_on.svg' %}" alt="">
        </a>
      </li>
      <li class="nav-item col-6 col-sm-4 col-lg-2 tab">
        <a class="nav-link tab__link" id="produzieren-tab" data-toggle="tab" href="#produzieren" role="tab"
                              aria-controls="produzieren" aria-selected="false">
          <img class="tab__svg tab__svg--off" src="{% static 'img/content/structure/Struktur-Buttons_produzieren_off.svg' %}" alt="">
          <img class="tab__svg tab__svg--on" src="{% static 'img/content/structure/Struktur-Buttons_produzieren_on.svg' %}" alt="">
        </a>
      </li>
      <li class="nav-item col-6 col-sm-4 col-lg-2 tab">
        <a class="nav-link tab__link" id="schuetzen-tab" data-toggle="tab" href="#schuetzen" role="tab"
                              aria-controls="schuetzen" aria-selected="false">
          <img class="tab__svg tab__svg--off" src="{% static 'img/content/structure/Struktur-Buttons_schuetzen_off.svg' %}" alt="">
          <img class="tab__svg tab__svg--on" src="{% static 'img/content/structure/Struktur-Buttons_schuetzen_on.svg' %}" alt="">
        </a>
      </li>
      <li class="nav-item col-6 col-sm-4 col-lg-2 tab">
        <a class="nav-link tab__link" id="problem-tab" data-toggle="tab" href="#problem" role="tab"
                              aria-controls="problem" aria-selected="false">
          <img class="tab__svg tab__svg--off" src="{% static 'img/content/structure/Struktur-Buttons_pbl_off.svg' %}" alt="">
          <img class="tab__svg tab__svg--on" src="{% static 'img/content/structure/Struktur-Buttons_pbl_on.svg' %}" alt="">
        </a>
      </li>
      <li class="nav-item col-6 col-sm-4 col-lg-2 tab">
        <a class="nav-link tab__link" id="analysieren-tab" data-toggle="tab" href="#analysieren" role="tab"
                              aria-controls="analysieren" aria-selected="false">
          <img class="tab__svg tab__svg--off" src="{% static 'img/content/structure/Struktur-Buttons_analysieren_off.svg' %}" alt="">
          <img class="tab__svg tab__svg--on" src="{% static 'img/content/structure/Struktur-Buttons_analysieren_on.svg' %}" alt="">
        </a>
      </li>
    </ul>

    <div class="tab-content" id="competences-tabs">
      <div class="tab-pane fade show active" id="suchen" role="tabpanel" aria-labelledby="suchen-tab">
        <h2>1. SUCHEN, VERARBEITEN &amp; AUFBEWAHREN</h2>

        <p>Zu dem Kompetenzbereich SUCHEN, VERARBEITEN &amp; AUFBEWAHREN gehört der angemessene Umgang mit einer ständig
          wachsenden Menge an Daten und Informationen, die allen Menschen durch digitale Technologien zur Verfügung
          steht. Umgang meint dabei das Suchen, Finden und Auswählen relevanter und vertrauenswürdiger Informationen
          und Quellen, die kritische Reflexion und Bewertung dieser sowie die Organisation, Nutzung und Speicherung
          der gefundenen Daten und Informationen. Konkret sind folgende Kompetenzen gemeint:</p>

        <ul class="list-unstyled list--dll">
          <li>
            1.1. Suchen und Filtern
            <ul class="list-unstyled list--dll">
              <li>1.1.1. Arbeits- und Suchinteressen bestimmen</li>
              <li>1.1.2. Passende Suchstrategien kennen, nutzen und weiterentwickeln</li>
              <li>1.1.3. Verschiedene digitale Umgebungen entsprechend des Suchinteresses nutzen</li>
              <li>1.1.4. Relevante und vertrauenswürdige Quellen und Informationen identifizieren und zusammenführen
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-unstyled list--dll">
          <li>
            1.2. Auswerten und Bewerten
            <ul class="list-unstyled list--dll">
              <li>
                1.2.1. Informationen und Daten analysieren, interpretieren und kritisch bewerten
              </li>
              <li>
                1.2.2. Informationsquellen analysieren und kritisch bewerten
              </li>
            </ul>
          </li>
        </ul>
        <ul class="list-unstyled list--dll">
          <li>
            1.3. Speichern und Abrufen
            <ul class="list-unstyled list--dll">
              <li>
                1.3.1. Informationen und Daten sicher speichern, wiederfinden und von verschiedenen Orten abrufen
              </li>
              <li>
                1.3.2. Informationen und Daten zusammenfassen, organisieren und strukturiert aufbewahren
              </li>

            </ul>
          </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="kommunizieren" role="tabpanel" aria-labelledby="kommunizieren-tab">

        <h2>2. KOMMUNIZIEREN &amp; KOOPERIEREN</h2>

        <p>Um im digitalen Raum adäquat KOMMUNIZIEREN &amp; KOOPERIEREN zu können, braucht es entsprechende Kompetenzen,
          digitale Werkzeuge zur angemessenen und effektiven Kommunikation einsetzen und in digitalen Umgebungen
          zielgerichtet kooperieren zu können. Dabei geht es vor allem darum, entsprechend der jeweiligen Situation
          und ausgerichtet an den Kommunikations- bzw. Kooperationspartnern die passenden Werkzeuge auszuwählen
          und entsprechende Umgangsregeln einzuhalten:</p>

        <ul class="list-unstyled list--dll">
          <li>
            2.1. Interagieren
            <ul class="list-unstyled list--dll">

              <li>2.1.1. Mit Hilfe unterschiedlicher digitaler Werkzeuge kommunizieren</li>


              <li>2.1.2. Digitale Kommunikationsmöglichkeiten zielgerichtet und situationsgerecht auswählen</li>
            </ul>
          </li>
        </ul>

        <ul class="list-unstyled list--dll">
          <li>2.2. Teilen
            <ul class="list-unstyled list--dll">
              <li>2.2.1. Dateien, Informationen und Links teilen</li>


              <li>2.2.2. Referenzierungspraxis kennen und beherrschen (Quellenangaben)</li>

            </ul>
          </li>
        </ul>


        <ul class="list-unstyled list--dll">
          <li>2.3. Zusammenarbeiten
            <ul class="list-unstyled list--dll">

              <li>2.3.1. Digitale Werkzeuge für die Zusammenarbeit bei der Zusammenführung von Informationen, Daten und
                Ressourcen nutzen
              </li>


              <li>2.3.2. Digitale Werkzeuge bei der gemeinsamen Erarbeitung von Dokumenten nutzen</li>
            </ul>
          </li>
        </ul>


        <ul class="list-unstyled list--dll">
          <li>2.4. Umgangsregeln kennen und einhalten (Netiquette)
            <ul class="list-unstyled list--dll">
              <li>2.4.1. Verhaltensregeln bei digitaler Interaktion und Kooperation kennen und anwenden</li>


              <li>2.4.2. Kommunikation der jeweiligen Umgebung anpassen</li>


              <li>2.4.3. Ethisch- moralische Prinzipien und Persönlichkeitsrechte bei der Kommunikation kennen,
                formulieren und einhalten
              </li>


              <li>2.4.4. Kulturell-gesellschaftliche Normen in digitalen Umgebungen berücksichtigen</li>

            </ul>
          </li>
        </ul>


        <ul class="list-unstyled list--dll">
          <li>2.5. An der Gesellschaft aktiv teilhaben
            <ul class="list-unstyled list--dll">
              <li>2.5.1. Öffentliche und private Dienste kennen, reflektieren und angemessen anwenden</li>


              <li>2.5.2. Medienerfahrungen reflektieren, weitergeben und in kommunikative Prozesse einbringen</li>


              <li>2.5.3. Als selbstbestimmter Bürger aktiv an der Gesellschaft teilhaben</li>

            </ul>
          </li>
        </ul>


      </div>
      <div class="tab-pane fade" id="produzieren" role="tabpanel" aria-labelledby="produzieren-tab">
        <h2>3. PRODUZIEREN &amp; PRÄSENTIEREN</h2>

        <p>Mit digitalen Werkzeugen bieten sich vielfältige Möglichkeiten, eigene Inhalte zu PRODUZIEREN &amp;
          PRÄSENTIEREN
          sowie bestehende Inhalte weiterzuverarbeiten. Dafür braucht es Kompetenzen, diese Werkzeuge sach- und
          zielgruppengerecht auszuwählen, Inhalte zu gestalten und zu veröffentlichen sowie mit den wesentlichen
          Rechtsgrundlagen vertraut zu sein:</p>

        <ul class="list-unstyled list--dll">
          <li>
            3.1. Entwickeln und Produzieren
            <ul class="list-unstyled list--dll">


              <li>3.1.1. Mehrere technische Bearbeitungswerkzeuge kennen und anwenden</li>


              <li>3.1.2. Eigene Medienprodukte planen und in verschiedenen Formaten gestalten, präsentieren,
                veröffentlichen und teilen
              </li>
            </ul>
          </li>
        </ul>

        <ul class="list-unstyled list--dll">
          <li>
            3.2. Weiterverarbeiten und Integrieren
            <ul class="list-unstyled list--dll">


              <li>3.2.1. Inhalte in verschiedenen Formaten bearbeiten, zusammenführen, präsentieren, veröffentlichen und
                teilen
              </li>


              <li>3.2.2. Informationen, Inhalte und vorhandene digitale Produkte weiterverarbeiten und in bestehendes
                Wissen integrieren
              </li>

            </ul>
          </li>
        </ul>
        <ul class="list-unstyled list--dll">
          <li>
            3.3. Rechtliche Vorgaben beachten
            <ul class="list-unstyled list--dll">


              <li>3.3.1. Bedeutung von Urheberrecht und geistigem Eigentum kennen</li>


              <li>3.3.2. Urheber- und Nutzungsrechte (Lizenzen) bei eigenen und fremden Werken überprüfen und beachten
              </li>


              <li>3.3.3. Persönlichkeitsrechte (u.a. des Bildrechts) beachten</li>
            </ul>
          </li>
        </ul>

      </div>
      <div class="tab-pane fade" id="schuetzen" role="tabpanel" aria-labelledby="schuetzen-tab">
        <h2>4. SCHÜTZEN &amp; SICHER AGIEREN</h2>

        <p>Persönliche Daten, Privatsphäre und Persönlichkeitsrechte sind zentral, um sich selbst und andere
          im digitalen Raum zu SCHÜTZEN &amp; SICHER zu AGIEREN. Dazu gehören auch Themen wie Cybermobbing und
          -kriminalität sowie Datenschutz und -sicherheit:</p>

        <ul class="list-unstyled list--dll">
          <li>
            4.1. Sicher in digitalen Umgebungen agieren
            <ul class="list-unstyled list--dll">


              <li>4.1.1. Risiken und Gefahren in digitalen Umgebungen kennen, reflektieren und berücksichtigen</li>


              <li>4.1.2. Strategien zum Schutz (gegen z.B. Cyberkriminalität) entwickeln und anwenden</li>

            </ul>
          </li>
        </ul>
        <ul class="list-unstyled list--dll">
          <li>
            4.2. Persönliche Daten und Privatsphäre schützen
            <ul class="list-unstyled list--dll">


              <li>4.2.1. Maßnahmen für Datensicherheit und gegen Datenmissbrauch kennen und beachten</li>


              <li>4.2.2. Privatsphäre in digitalen Umgebungen durch geeignete Maßnahmen schützen</li>


              <li>4.2.3. Sicherheitseinstellungen ständig aktualisieren</li>


              <li>4.2.4. Jugendschutz- und Verbraucherschutzmaßnahmen berücksichtigen</li>

            </ul>
          </li>
        </ul>
        <ul class="list-unstyled list--dll">
          <li>
            4.3. Gesundheit schützen
            <ul class="list-unstyled list--dll">


              <li>4.3.1. Suchtgefahren vermeiden, sich selbst und andere vor möglichen Gefahren schützen</li>


              <li>4.3.2. Digitale Technologien gesundheitsbewusst nutzen</li>


              <li>4.3.3. Digitale Technologien für soziales Wohlergehen und Eingliederung nutzen</li>

            </ul>
          </li>
        </ul>
        <ul class="list-unstyled list--dll">
          <li>
            4.4. Natur und Umwelt schützen
            <ul class="list-unstyled list--dll">


              <li>4.4.1. Umweltauswirkungen digitaler Technologien berücksichtigen</li>

            </ul>
          </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="problem" role="tabpanel" aria-labelledby="problem-tab">
        <h2>5. PROBLEMLÖSEN &amp; HANDELN</h2>

        <p>In dem Kompetenzbereich PROBLEMLÖSEN &amp; HANDELN werden einerseits rein funktionale Fähigkeiten, wie
          der effektive Umgang mit Hardware und Software, adressiert und andererseits Fähigkeiten beschrieben,
          diese digitalen Werkzeuge analysieren und für das eigene Handeln im digitalen Raum reflektieren und
          anwenden zu können:</p>

        <ul class="list-unstyled list--dll">
          <li>
            5.1. Technische Probleme lösen
            <ul class="list-unstyled list--dll">
              <li>5.1.1. Anforderungen an digitale Umgebungen formulieren</li>


              <li>5.1.2. Technische Probleme identifizieren</li>


              <li>5.1.3. Bedarfe für Lösungen ermitteln und Lösungen finden bzw. Lösungsstrategien entwickeln</li>

            </ul>
          </li>
        </ul>
        <ul class="list-unstyled list--dll">
          <li>
            5.2. Werkzeuge bedarfsgerecht einsetzen
            <ul class="list-unstyled list--dll">


              <li>5.2.1. Eine Vielzahl von digitalen Werkzeugen kennen und kreativ anwenden</li>


              <li>5.2.2. Anforderungen an digitale Werkzeuge formulieren</li>


              <li>5.2.3. Passende Werkzeuge zur Lösung identifizieren</li>


              <li>5.2.4. Digitale Umgebungen und Werkzeuge zum persönlichen Gebrauch anpassen</li>

            </ul>
          </li>
        </ul>
        <ul class="list-unstyled list--dll">
          <li>
            5.3. Eigene Defizite ermitteln und nach Lösungen suchen
            <ul class="list-unstyled list--dll">


              <li>5.3.1. Eigene Defizite bei der Nutzung digitaler Werkzeuge erkennen und Strategien zur Beseitigung
                entwickeln
              </li>


              <li>5.3.2. Eigene Strategien zur Problemlösung mit anderen teilen</li>

            </ul>
          </li>
        </ul>
        <ul class="list-unstyled list--dll">
          <li>
            5.4. Digitale Werkzeuge und Medien zum Lernen, Arbeiten und Problemlösen nutzen
            <ul class="list-unstyled list--dll">


              <li>5.4.1. Effektive digitale Lernmöglichkeiten finden, bewerten und nutzen</li>


              <li>5.4.2. Persönliches System von vernetzten digitalen Lernressourcen selbst organisieren</li>

            </ul>
          </li>
        </ul>
        <ul class="list-unstyled list--dll">
          <li>
            5.5. Funktionsweisen erkennen und formulieren
            <ul class="list-unstyled list--dll">


              <li>5.5.1. Funktionsweisen und grundlegende Prinzipien der digitalen Welt kennen, verstehen und bewusst
                nutzen
              </li>


              <li>5.5.2. Algorithmische Strukturen in genutzten digitalen Tools erkennen, verstehen und formulieren</li>


              <li>5.5.3. Eine strukturierte, algorithmische oder automatisierte Sequenz zur Lösung eines Problems
                planen, verwenden und umsetzen
              </li>

            </ul>
          </li>
        </ul>
      </div>
      <div class="tab-pane fade" id="analysieren" role="tabpanel" aria-labelledby="analysieren-tab">
        <h2>6. ANALYSIEREN &amp; REFLEKTIEREN</h2>

        <p>Um an der digitalen Welt teilzuhaben und diese mit zu gestalten, ist das ANALYSIEREN &amp; REFLEKTIEREN
          umso wichtiger. Dabei geht es darum, digitale Werkzeuge, Medien, Architekturen und Räume zu verstehen,
          zu reflektieren und zu analysieren.</p>

        <ul class="list-unstyled list--dll">
          <li>
            6.1. Medien analysieren und bewerten
            <ul class="list-unstyled list--dll">


              <li>6.1.1. Gestaltungsmittel von digitalen Medienangeboten kennen und bewerten</li>


              <li>6.1.2. Setzung, Verbreitung und Dominanz von Themen in digitalen Umgebungen erkennen und beurteilen
              </li>


              <li>6.1.3. Wirkungen von Medien in der digitalen Welt (z. B. mediale Konstrukte, Stars, Idole,
                Computerspiele, mediale Gewaltdarstellungen) analysieren und konstruktiv damit umgehen
              </li>

            </ul>
          </li>
        </ul>
        <ul class="list-unstyled list--dll">
          <li>
            6.2. Medien in der digitalen Welt verstehen und reflektieren
            <ul class="list-unstyled list--dll">


              <li>6.2.1. Vielfalt der digitalen Medienlandschaft kennen</li>


              <li>6.2.2. Chancen und Risiken des Mediengebrauchs in unterschiedlichen Lebensbereichen erkennen, eigenen
                Mediengebrauch reflektieren und ggf. modifizieren
              </li>


              <li>6.2.3. Vorteile und Risiken von Geschäftsaktivitäten und Services im Internet analysieren und
                beurteilen
              </li>


              <li>6.2.4. Wirtschaftliche Bedeutung der digitalen Medien und digitaler Technologien kennen und sie für
                eigene Geschäftsideen nutzen
              </li>


              <li>6.2.5. Die Bedeutung von digitalen Medien für die politische Meinungsbildung und Entscheidungsfindung
                kennen und nutzen
              </li>


              <li>6.2.6. Potenziale der Digitalisierung im Sinne sozialer Integration und sozialer Teilhabe erkennen,
                analysieren und reflektieren
              </li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <h1>Elemente des dll</h1>
    <div class="row">
      <div class="col col-12 col-md-4">
        <a href="/ubausteine/"><h3 class="ubaustein-color">Unterrichtsbausteine</h3></a>
        <p>Digitale <a href="/ubausteine/">Unterrichtsbausteine</a> sind Good Practice-Beispiele, die konkrete
          Unterrichtssituationen im schulischen Fachunterricht mit digitalen Medien beschreiben. Diese Lernszenarien
          sind so aufbereitet, dass andere Lehrkräfte sie direkt herunterladen und für ihren eigenen Unterricht nutzen
          können.</p>
        <p>Zusätzlich zu der Beschreibung der Unterrichtsbeispiele werden auch begleitende Unterlagen wie Ablaufpläne,
          Arbeitsblätter und Handreichungen zum Download bereitgestellt. Um das Teilen von Unterrichtsideen zu fördern,
          werden die Inhalte (soweit nicht anders angegeben) unter einer <a rel="license"
                                                                            href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                                                                            target="_blank">CC
            BY-NC-SA 4.0 Lizenz</a> zur Verfügung gestellt.</p>
      </div>
      <div class="col col-12 col-md-4">
        <a href="/tools/"><h3 class="tool-color">Tools &amp; Tutorials</h3></a>
        <p>In einer umfangreichen Toolbox werden verschiedene <a href="/tools/">Tools</a> für den direkten Einsatz im
          Unterricht dargestellt und beschrieben. Durch die Nutzung der Tools können neue Unterrichtskonzepte von
          Lehrkräften schnell und einfach umgesetzt werden. Aus diesem Grund sind auch die Tools den verschiedenen
          Kompetenzbereichen zugeordnet, enthalten genaue Beschreibungen zu Funktionalität und Nutzungsbedingungen und
          sind darüber hinaus mit konkreten Unterrichtsbausteinen verknüpft.</p>
        <p>So können Lehrkräfte schnell und selbstständig entscheiden, welches Tool für ihre jeweilige Unterrichtsidee
          am besten geeignet ist. Perspektivisch sollen in diesem Bereich auch Tutorials für die konkrete Nutzung der
          Tools zu finden sein.</p>
      </div>
      <div class="col col-12 col-md-4">
        <a href="/trends/"><h3 class="trend-color">Trends</h3></a>
        <p>Um den Kompetenzerwerb von Lehrkräften auch ergänzend zu konkreten Unterrichtsbausteinen und Tools
          zu fördern und Lehrkräfte zusätzlich zu inspirieren werden unter <a href="/trends/">Trends</a>
          begleitende Informationen zum Unterricht in digitalen Zeiten gesammelt, aufbereitet und zugänglich
          gemacht.</p>
        <p>Dazu gehören relevante Forschungsergebnisse zum Lernen mit und über digitale Medien, andere thematisch
          relevante Veröffentlichungen, Praxisbeispiele von Schulprojekten oder -konzepten sowie weitere für Lehrkräfte
          entwickelte Portale mit Inhalten und Ideen zur Unterrichtsgestaltung in digitalen Zeiten.</p>
      </div>
    </div>

  </section>
{% endblock %}