{% extends 'dll/base.html' %}
{% load thumbnail %}

{% block body %}
    <p>Welcome {{ request.user }}</p>
    <p>Logged in: {{ user.is_authenticated }}. Click <a href="{% url 'user:logout' %}">here</a> to log out</p>
    <img src="{% thumbnail request.user.image 200x200 %}" alt="">
    <h1>Login</h1>
    <ul>
        <li><a href="{% url 'user:signup' %}">sign up</a></li>
        <li><a href="{% url 'user:login' %}">Log in</a></li>
        <li><a href="{% url 'user:password_reset' %}">Password reset</a></li>
    </ul>
    <label>Log in as user:
        <select onchange="location = this.value;">
            {% for user in users %}
                <option value="/?user={{ user.pk }}">{{ user }}</option>
            {% endfor %}
        </select>
    </label>

    <div style="max-height: 200px; overflow-y: scroll">
        <h2>Teaching Modules</h2>
        <table >
            <thead>
            <tr>
                <th>Teaching Module</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            {% for teaching_module in teaching_modules %}
                <tr>
                    <td>{{ teaching_module.name }}</td>
                    <td>{{ teaching_module.author }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
