{% extends 'dll/user/content/base_add.html' %}

{% block intro %}

  <h1 class="headline">Trend {% if obj %}bearbeiten{% else %}erstellen{% endif %}</h1>
  <h2>
    Mit diesem Eingabeformular können Sie einen Trendbaustein im digital.learning.lab einreichen.
  </h2>
  <p>
    Unter <b>Trends</b> verstehen wir relevante Forschungsergebnisse zum Lernen mit und über digitale
    Medien, andere thematisch relevante Veröffentlichungen, Praxisbeispiele von Schulprojekten oder
    -konzepten sowie weitere für Lehrkräfte entwickelte Portale mit Inhalten und Ideen zur
    Unterrichtsgestaltung in digitalen Zeiten.
  </p>
  <p class="collapse" id="additionalDescriptionText">
    So sollen Lehrkräfte ergänzend zu den konkreten Konzepten und
    Beispielen der digitalen Unterrichtsbausteine sowie der Beschreibungen der Tools inspiriert werden,
    eigene Ideen auszuprobieren, und gleichzeitig sensibilisiert werden, sich mit den verschiedenen
    Perspektiven und Aspekten zu Unterrichtsgestaltung in digitalen Zeiten auseinander zu setzen.
  </p>
  <a href="#additionalDescriptionText" class="read-more-link" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="additionalDescriptionText">
    <span class="read-more-link__more">
      weiter lesen &gt;&gt;
    </span>
    <span class="read-more-link__less">
      &lt;&lt; weniger lesen
    </span>
  </a>
{% endblock %}
{% block app %}
  <div id="trend-submission"></div>
{% endblock %}
{% block outro %}
  <p>
    Wenn Sie alle Pflichtfelder ausgefüllt haben, können Sie den Trendbaustein zur Sichtung durch das
    wissenschaftliche Personal der Technischen Universität Hamburg einreichen.
  </p>
  <p>
    Falls Sie Fragen oder Probleme bei der Erstellung von Trendbausteinen im digital.learning.lab haben, zögern Sie nicht uns
    über das <a href="/kontakt" target="_blank">Kontaktformular</a> zu kontaktieren.
  </p>
{% endblock %}
