{% extends 'dll/default_page.html' %}

{% block content %}
  <div>
    <h3>Eingereichte Erfahrungsberichte sichten und freigeben</h3>
    <p>In diesem Bereich können Sie die eingereichten Erfahrungsberichte sichten, den Autor_innen eine Rückmeldung geben und freigeben.</p>
    <p>Nachfolgend finden Sie alle Erfahrungsberichte aufgelistet, die aktuell von Autor_innen zur Sichtung eingereicht wurden. Falls Sie Rückfragen zum eingereichten Erfahrungsberichte haben, können Sie die Autor_innen direkt über die Plattform kontaktieren.</p>
    <p>Sofern die Sichtung des eingereichten Erfahrungsberichte positiv ausfällt, können Sie das Element im Editiermodus (blauer Button) "freigeben". Der Erfahrungsberichte wird anschließend direkt live im digital.learning.lab anzeigt. Sofern die Sichtung des eingereichten Erfahrungsberichte negativ ausfällt, können Sie das Element im Editiermodus "zur Nachbearbeitung" an die Autor_innen zurückschicken. Der Erfahrungsberichte wird dadurch wieder für die Autor_innen zur Bearbeitung freigeschaltet und erscheint nicht live im digital.learning.lab. </p>
  </div>

  <div id="testimonial-overview-app"></div>
{% endblock %}

{% block extra_scripts %}
  {{ block.super }}
  <script>
  window.dllData = {
    retrieveUrl: '/api/testimonial-review/',
    mode: '{{ mode }}',
    updateUrl: '/api/testimonial/',
    csrfToken: '{{ csrf_token }}'
  }
  </script>
{% endblock %}

