<div class="content-teaser content-teaser--{{ content.type }}">
  <div class="content-teaser__image-container">
    <img class="content-teaser__image" src="" srcset="" alt="Vorschaubild {{ content.name }}">
  </div>
  <div class="content-teaser__body">
    <div class="content-teaser__type"></div>
    <div class="content-teaser__title"></div>
    <div class="content-teaser__abstract"></div>
    <div class="content-teaser__competences"></div>
    <div class="content-teaser__upload-date"></div>
  </div>
</div>