{% load thumbnail favored_tag %}
<a class="content-teaser content-teaser--{{ content.type }}" href="{{ content.get_absolute_url }}">
  <div class="content-teaser__image-container">
    <img class="content-teaser__image" src="{% thumbnail content.image 300x300 crop=True %}" srcset="" alt="Vorschaubild {{ content.name }}">
  </div>
  <div class="content-teaser__body">
    <div class="content-teaser__type">{{ content.type_verbose }}</div>
    {% favored_snippet content %}
    <div class="clearfix"></div>
    <div class="content-teaser__title">{{ content.name|truncatechars:50 }}</div>
    <div class="content-teaser__abstract">{{ content.teaser|default_if_none:''|truncatechars:64 }}</div>
    <div class="content-teaser__footer">
      <div class="content-teaser__competences">
        {% for competence in content.competences.all %}
          <span class="content-teaser__competence icon-{{ competence.slug }}" data-toggle="tooltip" title="{{ competence.name }}"></span>
        {% endfor %}

      </div>
      {% if content.type == 'teaching-module' %}
        <div class="content-teaser__upload-date-container">
            <span class="content-teaser__upload-icon icon-upload"></span>
            <span class="content-teaser__upload-date">
              {{ content.created|date:'d.m.Y' }}
            </span>
          </div>
      {% endif %}
    </div>
  </div>
</a>