{% load static %}
{% load wagtailcore_tags %}

<footer class="footer">
  <div class="row no-gutters">
    <div class="col col-12">
      <div class="section-info">
        <div class="row justify-content-center">
          <div class="col col-xl-11">
            <div class="section-info__body">
              <div class="row mt-5">
                <div class="mb-3 col col-12 col-lg-4 col-xl-4 d-lg-flex">
                  <div class="row">
                    <div class="col col-3 text-center">
                      <a href="https://www.itbh-hh.de/" class="partner-logo__link" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/partners/ITBH_Logo_cmyk.svg' %}" class="footer__partner-logo" alt="JHS-Logo">
                      </a>
                    </div>
                    <div class="col col-3 text-center">
                      <a href="https://www.tuhh.de/" class="partner-logo__link" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/partners/tuhh_logo.svg' %}" class="footer__partner-logo" alt="TUHH-Logo">
                      </a>
                    </div>
                    <div class="col col-3 text-center">
                      <a href="https://www.hamburg.de/bsb/wir-ueber-uns/" class="partner-logo__link" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/partners/Logo_BSB.jpg' %}" class="footer__partner-logo" alt="BSB-Logo">
                      </a>
                    </div>
                    <div class="col col-3 text-center">
                      <a href="https://www.joachim-herz-stiftung.de/" class="partner-logo__link" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'img/partners/JHS_Logo_CMYK_white-violett.jpg' %}" class="footer__partner-logo" alt="JHS-Logo">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="mb-3 col col-12 col-lg-4 col-xl-5 text-center">
                  <div class="pb-5 pt-4">
                    <a href="{% slugurl 'impressum' %}" class="footer__link">Impressum</a>
                    <a href="{% slugurl 'terms' %}" class="footer__link">Nutzungsbedingungen</a>
                    <a href="{% slugurl 'datenschutz' %}" class="footer__link">Datenschutz</a>
                  </div>
                  <p class="">Weitere Informationen im
									<a href="{% url 'communication:newsletter' %}" class="footer__link-newsletter">Newsletter<br></a>
                      oder auf unseren Social-Media-Kanälen:
                  </p>
                    <a href="https://twitter.com/digilearninglab" target="_blank">
                        <img class="mr-3" src="{% static "img/icons/twitter.png" %}">
                    </a>
                    <a href="https://www.youtube.com/channel/UC9w8XPtdEqIOsdjS7ZEwnzA" target="_blank">
                        <img src="{% static "img/icons/youtube.png" %}">
                    </a>
                </div>
                <div class="mb-3 col col-12 col-lg-4 col-xl-3 pb-5 text-center text-lg-right footer__text">
                    <div class="d-flex flex-column flex-lg-row pb-5 justify-content-lg-end justify-content-sm-center align-items-center">
                        <div class="d-inline">Ausgezeichnet mit dem <br>
                            <a class="footer__link-newsletter" href="https://digitallearninglab.de/auszeichnungen/" target="_blank">Comenius EduMedia Siegel</a>
                        </div>
                        <div class="d-inline ml-3"><img class="d-inline" src="{% static "img/icons/siegel.png" %}"></div>
                    </div>
                  Diese <a class="footer__cc-link" href="https://github.com/digital-learning-lab/webplattform">Plattform</a> ist lizensiert unter der <br>
                  <a class="footer__cc-link" href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank" rel="noreferrer">
                    <span class="text-nowrap">GNU General Public License v3.0</span>
                  </a>
                  <br>
                  Inhalte der Seite stehen unter CC BY-SA 4.0 Lizenz, wenn nicht anders angegeben:
                  <div>
                    <img src="{% static 'img/cc_license.png' %}" alt="Creative Commons Lizenzvertrag">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
