{% load static %}
<footer class="footer">
  <div class="row no-gutters">
    <div class="col col-12">
      <div class="section-info">
        <div class="row justify-content-center">
          <div class="col col-xl-11">
            <div class="section-info__body">
              <div class="row align-items-center">
                <div class="mb-3 col col-12 col-lg-4 col-xl-4 d-lg-flex">
                  <div class="row">
                    <div class="col col-4 text-center">
                      <img src="{% static 'img/partners/tuhh_logo.svg' %}" class="footer__partner-logo" alt="">
                    </div>
                    <div class="col col-4 text-center">
                      <img src="{% static 'img/partners/Logo_BSB.jpg' %}" class="footer__partner-logo" alt="">
                    </div>
                    <div class="col col-4 text-center">
                      <img src="{% static 'img/partners/JHS_Logo_RGB.png' %}" class="footer__partner-logo" alt="">
                    </div>
                  </div>
                </div>
                <div class="mb-3 col col-12 col-lg-4 col-xl-5 text-center">
                  <a href="{% url 'imprint' %}" class="footer__link">Impressum</a>
                  <a href="{% url 'terms' %}" class="footer__link">Nutzungsbedingungen</a>
                  <a href="{% url 'data-privacy' %}" class="footer__link">Datenschutz</a>
                </div>
                <div class="mb-3 col col-12 col-lg-4 col-xl-3 text-center text-lg-right">
                  Diese <a href="https://github.com/digital-learning-lab/webplattform">Plattform</a> ist lizensiert unter der <br>
                  <a class="footer__cc-link" href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">
                    <span class="text-nowrap">GNU General Public License v3.0</span>
                  </a>
                  <br>
                  Die Inhalte der Seite stehen unter:
                  <div>
                    <img src="{% static 'img/cc_license.png' %}" alt="Creative Commons Lizenzvertrag">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
