{% load thumbnail %}
<div class="col col-12 col-lg-11 col-xl-8">
    <div style="margin-top: 1em; padding-bottom: 4em;" class="bg-white">
        <div class="col-lg-12 pt-2 mb-5 text-center">
            <h2>Für Sie vorgeschlagene Inhalte zur Unterrichtsgestaltung</h2>
        </div>
        <div class="col-lg-12 align-middle js-slick-wrapper px-5">
            {% for content in more_like_this %}
                <div class="slick-container">
                    {% include 'dll/includes/content_teaser.html' with condensed=True %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
