{% load static %}
<header class="header">
  <a href="/" class="logo">
      <img class="logo__claim" src="{% static 'img/logo/dll_logo_rgb_claim_rechts.png' %}" srcset="{% static 'img/logo/dll_logo_rgb_claim_rechts.png' %} 1x, {% static 'img/logo/dll_logo_rgb_claim_rechts_large.png' %} 2x" alt="digital.learning.lab Logo">
      <img class="logo__no-claim" src="{% static '/img/logo/dll_logo_rgb_ohne_claim.png' %}" srcset="{% static '/img/logo/dll_logo_rgb_ohne_claim.png' %} 1x, {% static '/img/logo/dll_logo_rgb_ohne_claim_large.png' %} 2x" alt="digital.learning.lab Logo">
  </a>
  <nav></nav>
</header>