{% load static %}
{% load menu_tags %}

<header class="header fixed-top js-header">
  <a href="/" class="logo">
      <img class="logo__claim" src="{% static 'img/logo/dll_logo_rgb_claim_rechts.png' %}" srcset="{% static 'img/logo/dll_logo_rgb_claim_rechts.png' %} 1x, {% static 'img/logo/dll_logo_rgb_claim_rechts_large.png' %} 2x" alt="digital.learning.lab Logo">
      <img class="logo__no-claim" src="{% static 'img/logo/dll_logo_rgb_ohne_claim.png' %}" srcset="{% static 'img/logo/dll_logo_rgb_ohne_claim.png' %} 1x, {% static 'img/logo/dll_logo_rgb_ohne_claim_large.png' %} 2x" alt="digital.learning.lab Logo">
  </a>
  <div class="float-right">
		<form class="search-form" action="{% url 'search' %}" method="get" accept-charset="utf-8" role="search" autocomplete="off">
      <input type="hidden" autocomplete="false">
      <button class="search-form__submit" type="submit">
        <i class="fa fa-search"></i>
      </button>
      <input class="search-form__field" id="autoComplete" name="q" type="text" placeholder="Das dll durchsuchen">
    </form>
    <button class="navigation-toggle js-navigation-toggle" aria-label="Navigation ausklappen">
      <span class="navigation-toggle__stripe"></span>
      <span class="navigation-toggle__stripe"></span>
      <span class="navigation-toggle__stripe"></span>
      <span class="navigation-toggle__close"></span>
    </button>
  </div>
  <nav class="navigation">
    {% if request.user.is_authenticated %}
      <div class="navigation__user">{{ request.user.full_name }}</div>
    {% endif %}
    <ul class="navigation__items">
      {% if not request.user.is_authenticated %}
        {% flat_menu handle=config.GUEST_MENU_HANDLE template='dll/includes/navigation_menu.html'%}
      {% else %}
        {% if request.user.is_reviewer %}
          {% flat_menu handle=config.REVIEWER_MENU_HANDLE template='dll/includes/navigation_menu.html'%}
        {% else %}
          {% flat_menu handle=config.LOGGED_IN_MENU_HANDLE template='dll/includes/navigation_menu.html'%}
        {% endif %}
      {% endif %}
    </ul>
  </nav>
</header>
