{% load static %}
<header class="header fixed-top js-header">
  <a href="/" class="logo">
      <img class="logo__claim" src="{% static 'img/logo/dll_logo_rgb_claim_rechts.png' %}" srcset="{% static 'img/logo/dll_logo_rgb_claim_rechts.png' %} 1x, {% static 'img/logo/dll_logo_rgb_claim_rechts_large.png' %} 2x" alt="digital.learning.lab Logo">
      <img class="logo__no-claim" src="{% static '/img/logo/dll_logo_rgb_ohne_claim.png' %}" srcset="{% static '/img/logo/dll_logo_rgb_ohne_claim.png' %} 1x, {% static '/img/logo/dll_logo_rgb_ohne_claim_large.png' %} 2x" alt="digital.learning.lab Logo">
  </a>
  <div class="float-right">
    <form class="search-form" action="{% url 'search' %}" method="get" accept-charset="utf-8" role="search">
      <button class="search-form__submit" type="submit">
        <i class="fa fa-search"></i>
      </button>
      <input class="search-form__field" id="searchbox" name="q" type="text" placeholder="Das dll durchsuchen">
    </form>
    <button class="navigation-toggle js-navigation-toggle">
      <span class="navigation-toggle__stripe"></span>
      <span class="navigation-toggle__stripe"></span>
      <span class="navigation-toggle__stripe"></span>
      <span class="navigation-toggle__close"></span>
    </button>
  </div>
  <nav class="navigation">
    <ul class="navigation__items">
      {% if request.path != '/' %}
        <li class="navigation__item js-navigation__item">
          <a href="/">Home</a>
        </li>
      {% endif %}
      {% if not request.user.is_authenticated %}
      <li class="navigation__item js-navigation__item">
        <a href="{% url 'user:login' %}">Login</a>
      </li>
      {% endif %}
      {% if request.user.is_authenticated %}
        <li class="navigation__item js-navigation__item">
          <a href="{% url 'user-content-overview' %}">Meine Inhalte</a>
        </li>
        {% if request.user.is_reviewer %}
          <li class="navigation__item js-navigation__item">
            <a href="{% url 'user-content-review' %}">Review Inhalte</a>
          </li>
        {% endif %}
      {% endif %}
      <li class="navigation__item js-navigation__item">
        <a href="/#dll-aufbau">Was ist das dll?</a>
      </li>
      <li class="navigation__item js-navigation__item">
        <a href="{% url 'communication:contact' %}">Kontakt</a>
      </li>
      <li class="navigation__item js-navigation__item">
        <a href="{% url 'communication:newsletter' %}">Newsletter</a>
      </li>
      <li class="navigation__item js-navigation__item">
        <a href="{% url 'faq' %}">FAQ</a>
      </li>
    </ul>
  </nav>
</header>
