{% extends 'dll/filter/filter_base.html' %}
{% load render_bundle from webpack_loader %}

{%  block title %}{{ competence.name }}{% endblock %}

{% block app_content %}
  <div id="filter-app"></div>
{% endblock %}

{% block extra_scripts %}
  <script>
    window.competenceName = '{{ competence.name }}';
    window.competenceTextTitle = '{{ competence.additional_information.title }}';
    window.competenceText = '{{ competence.additional_information.description }}';
    window.videoEmbed = "{{ competence.additional_information.video_embed_code|safe|escape }}";
    window.competenceSlug = '{{ competence.slug }}';
  </script>
{% endblock %}
