{% extends 'dll/base.html' %}
{% load render_bundle from webpack_loader %}

{% block rss_feed %}<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ rss_feed_url }}" />{% endblock %}

{% block body %}
  <div class="row justify-content-center m-auto">
    <div class="col col-11 col-xl-11">
      <div class="row">
        <div class="col col-12 offset-lg-4 col-lg-8">
          {% include 'dll/includes/breadcrumbs.html' %}
        </div>
      </div>
      {% block app_content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

