<h2>Einstieg</h2>
{% if object.learning_goals.0 %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Ziele
    </div>
    <div class="information-area__body">
      <ul class="list-unstyled">
        {% for goal in object.learning_goals %}
          <li>{{ goal }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if object.expertise.0 %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Fachkompetenzen
    </div>
    <div class="information-area__body">
      <ul class="list-unstyled">
        {% for expertise in object.expertise %}
          <li>{{ expertise }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

<div class="information-area information-area--{{ object.type }}">
  <div class="information-area__title information-area__title">
    Kompetenzen in der Digitalen Welt
  </div>
  <div class="information-area__body">
    <ul class="list-unstyled">
      {% for competence in object.competences.all %}
        <li>{{ competence.name }}</li>
      {% endfor %}
    </ul>
    {% for competence in competences %}
      <span class="information-area__icon {{ competence.icon_class }}{% if competence in object.competences.all %} information-area__icon--active{% endif %}" data-toggle="tooltip" title="{{ competence.name }}"></span>
    {% endfor %}
    {% if object.sub_competences.count > 0 %}
    <a class="information-area__title d-block pt-3" href="#subcompetence-collapse" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="subcompetence-collapse">
        Detaillierte Teilkompetenzbeschreibungen
    </a>
    <div class="collapse" id="subcompetence-collapse">
        <ul class="list-unstyled">
          {% for subcompetence in object.sub_competences.all %}
            <li>
              {{ subcompetence.name }}
            </li>
          {% endfor %}
        </ul>
    </div>
    {% endif %}
  </div>
</div>


{% if show_testimonial_form %}
  {% include "dll/content/includes/testimonial_form.html" %}
{% endif %}

{% if object.equipment.0 %}
  <div class="information-area information-area--{{ object.type }}">
    <div class="information-area__title information-area__title">
      Medienausstattung
    </div>
    <div class="information-area__body">
      <ul class="list-unstyled">
        {% for equipment in object.equipment %}
          <li>{{ equipment }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

